[2017-06-15 14:45] nsheff opened #6 "Feature proposals"
Suggested improvements:

* [x] add an option for [fseq](https://github.com/aboyle/F-seq) as peak caller
* [x] change CLI to use choice-style rather than flag-style arguments for trimmer and peak caller
* [x] add peak count as a statistic with `report_result()`

[2017-06-22 20:54] carbonwei opened #7 "pre-looper usage tutorial of ATACseq pipeline"
- [x] script to run ATACseq pipeline as a looper-independent manner
- [ ] build the gold_atac example as a looper-independent manner
- [ ] documentation of the example as a tutorial example

[2017-06-22 20:56] carbonwei opened #8 "TSS enrichment plot improvement"
- [ ] improve the TSS enrichment plot

[2017-06-23 00:44] rcorces opened #9 "Clarify usage of --prealignments"
Currently says "list of reference genomes". What format is this supposed to be in if you have more than one? Comma delimited? Space delimited? I guess it looks like space delimited.

[2017-06-23 04:54] rcorces opened #11 "Add option for abbreviated pipeline"
It could be useful to add an option such as --QC which would indicate that the pipeline is only being run to gain QC-level information. This would allow you to omit certain time-consuming steps (like making bigwigs etc) that arent necessary if you just need QC info.

[2017-06-23 13:40] nsheff opened #12 "Make bowtie2 parameterizable"
Right now there are several sets of bowtie2 parameters, eg, those used for prealignments, vs for genome alignment.

These are currently hard-coded, but should be moved to the pipeline config file so people can change them if they want.

[2017-06-26 20:10] rcorces opened #13 "Multiple read_type columns in looper summarize output"
There are two columns for the read type being output by looper summarize in the ATACseq.py pipeline. One named "read_type" and one named "Read_type". Looks like Looper summarize is printing the "read_type" column while pyPiper is printing the "Read_type" column. Seems like we should only have one column for read type being output to the summary.tsv file.

Also, in my summary.tsv file, the "Read_ty

[2017-06-27 00:06] carbonwei opened #14 "README structure suggestion"
0.add an content.
1.current 'Pipeline features at-a-glance'.
2.Installation, including current 'Installing' and 'Configuring'.
3.Usage, including
(1) current 'Running the pipeline'.
(2) to-be-added usage of parameters, which can include current 'Outline of analysis steps'.
(3) examples of both looper-based and through commend line.
(4) current 'Using a cluster' for cluster usage setup
4.Output str

[2017-07-09 22:12] rcorces opened #15 "Summary Plot script is currently limited to human alignments"
Currently, the ATAC_Looper_Summary_plot.R script is limited to human alignments which is problematic but I havent spent the time to think about a good way to fix it. I feel like it is not worth fixing and instead we should just have a version for human and a version for mouse?

The problem is that column titles of the looper summarize output are hardcoded into the R code. So things like "Aligned_r

[2017-07-17 00:02] vreuter opened #18 "Installation requirements"
Is the TSS enrichment analysis expected to be done quite frequently (or always)? If so, I think it may be good to add the dependencies for `tools/pyTssEnrichment.py` to the project requirements file. We get `numpy` from the `looper` dependency on `pandas` and `pysam` from the `pararead` dependency, but we don't have `matplotlib` explicitly or implicitly. That's probably a relatively big one, so if

[2017-07-18 15:43] vreuter opened #19 "TSS enrichment failure doesn't halt the pipeline?"
There was an early `ValueError` in `tools/pyTssEnrichment.py`, which started at 10:10.00. SLURM still shows the pipeline running as of 11:44. Is `pyTssEnrichment.py` expected to take a while, or is it possible that the error is leaving the pipeline in a state in which SLURM still thinks it's running while it's actually stalled?

[code]

[2017-07-19 16:46] #19 closed, assigned to nobody

[2017-07-21 21:20] #13 closed, assigned to nsheff

[2017-08-01 20:38] rcorces opened #22 "Job preemption still not perfect"
I'm still seeing some issues with job preemption. I will say that I did have some jobs get preempted and then properly re-initiated. So this doesnt seem to be an across-the-board issue.

In particular, it appears that all of the jobs that fail, have trouble with dynamic recovery during alignment, often prealignments. Maybe something about the tmp.####.bam files? Maybe they dont get properly cleane

[2017-08-02 14:17] #6 closed, assigned to vreuter

[2017-08-03 15:13] rcorces opened #23 "Make skewer quiet?"
Can we make skewer quiet? Line 290 of ATACseq.py
It is currently commented out but Skewer fills up the log file with its progress update. I wasnt sure if there was a reason it was commented out so I didnt go ahead and make the change. I assume it was commented out for testing purposes.

[2017-08-03 17:26] #23 closed, assigned to nobody

[2017-08-15 23:56] rcorces opened #24 "bedgraph (?) output in log file"
There is a step somewhere during the process of making the bedgraph where the entire bedgraph file is output to the log file. I havent figured out exactly where this is occurring but you can see the result in the attached log file starting at line 606 and ending at line 4295. Seems like there is no reason to have this in the log?

[2017-08-19 21:56] rcorces opened #25 "looper clean doesnt remove tmp files from alignments?"
I'll need to double check this one but as far as I can tell, looper clean does not remove the tmp files created from all alignments. I assume these are tmp files from preempted jobs. I forget if this is the expected behavior or not.

[2017-09-13 14:41] #24 closed, assigned to nobody

[2017-10-09 21:52] rcorces opened #27 "Odd behavior in re-initiated jobs"
I had some jobs time out so I deleted the flag file and re-ran them. 4 out of 8 of these re-initiated jobs have gotten stuck in the "Change status from running to waiting". Oddly, all 4 of them do this at the "Calculate TSS enrichment" step, after finding that the target exists. Logs attached. Any ideas? Could be something that I did because I think I wrote some of the code around the TSS enrichme

[2017-10-10 01:39] #8 closed, assigned to rcorces, carbonwei

[2017-10-10 01:40] #22 closed, assigned to nobody

[2017-11-01 02:29] nsheff opened #28 "new tool_path function incorrectly includes tool filename"
`tool_path` function is appending to file name, yielding:
[code]

[2017-12-01 16:52] #9 closed, assigned to nobody

[2017-12-06 16:59] rcorces opened #30 "Inconsistent pipeline performance when disk space is exceeded"
This seems like it could be an important issue.
TL;DR - I ran the pipeline twice on certain samples and got vastly different file sizes for the aligned bams (differences of 2 - 3 GB) despite both giving a completed flag. I think this happened because I ran out of disk space.

I was looking at the total aligned reads for certain samples and some were alarmingly low (on the scale of 10,000 aligned r

[2017-12-07 02:37] #30 closed, assigned to nobody

[2017-12-07 17:58] rcorces opened #31 "Job with failed.flag still running"
This is a problem that I did NOT create by manually messing with the jobs. I've run into this once or twice before as well.

I started up a series of new jobs last night from scratch (using ``--recover`` from the start). Looking at my running processes, I see 12 running processes but ``looper check`` only shows 10. Two of the processes that are "running" are experiencing different problems.

1) CO

[2017-12-07 19:59] #31 closed, assigned to nobody

[2017-12-07 22:47] rcorces opened #32 "bam2bed_shift.pl functionality"
Not an issue - just a question.

The reads / bed entries that result from the bam2bed_shift.pl program are all 50 bp long. This is because of the lines:

`$start_extl = $start + 4 - 25;`
`$start_extr = $start + 4 + 25;`
`$end_extl = $end - 5 - 25;`
`$end_extr = $end - 5 + 25;`

which takes the start (or end) of the fragment, shifts it by 4 (or 5) and makes that position the center a 50 bp read. Th

[2017-12-14 16:36] #28 closed, assigned to nobody

[2017-12-15 15:21] #27 closed, assigned to nobody

[2017-12-19 16:29] rcorces opened #34 "pyTSSenrichment.py not handling interrupt signals properly"
I've updated pypiper to 0.7.0, pararead to 0.3.0 and the ATACseq pipeline to 0.6.1 (looper is at 0.6.0).
The good news is that (miraculously) the problems I was having with the pipeline randomly hanging at the pyTSSenrichment or fragLdistribution steps are no longer happening. Not sure why, but it definitely seems fixed.

Onto the bad news - I dont think that pyTSSenrichment is handling SIGTERM pr

[2017-12-25 13:26] rcorces opened #35 "Add --backup option"
Not sure if you guys think this is broadly usable. If not, I wouldnt spend any time on it.

On our cluster, we have scratch space and we have storage space. Scratch space fills up pretty quick in our lab and the pipeline takes a lot of space (at the moment more than 50 GB per sample for me).

Would it be useful to add a `--backup` option where the pipeline automatically backs itself up (upon compl

[2018-01-02 21:37] rcorces opened #36 ""Aligned_Reads" - raw aligned reads vs non-duplicate aligned reads?"
From what I can tell, the result reported as "Aligned_reads" refers to the number of aligned reads rather than the number of aligned reads post duplicate removal.

If thats true, doesnt it make sense to also report the number of aligned reads after duplicate removal? And have similar results reported for this (i.e. Duplicate_loss) and to factor in the loss from duplicates into the "Total_efficienc

[2018-03-18 00:18] rcorces opened #37 "temp.bam file?"
This might have an obvious answer that I missed.

Is the `mapping_genome_bam_temp` file supposed to be deleted eventually? The name "temp.bam" certainly would imply that. I'm pretty sure this file is used to produce the `unmap.bam` and the `pe.q10.sort.bam` files and could probably be deleted afterwards. Either that or it should be given a different name that is more descriptive.

https://github.c

[2018-04-03 14:33] nsheff opened #39 "add all plots to summary output with report_figure"
Right now, we're only using `report_figure` on the TSS enrichment plot. The pipeline produces other plots (like the alignment ratio plot). These should all be added to the summary with `report_figure`.

[2018-04-03 16:06] #25 closed, assigned to nobody

[2018-04-05 13:10] nsheff opened #40 "dockerize"
We need to build a docker container with all dependencies. follow the example in [refgenie](https://github.com/databio/refgenie) which is already dockerized.

- build dockerfile, add to this repo
- upload image to dockerhub (databio/ org)
- add readme (follow lolaweb docker instructions? https://github.com/databio/LOLAweb/tree/master/docker)

[2018-05-08 00:38] rcorces opened #41 "occasional chrM reads"
This happened a long time ago and I'm sure I could dig into it a bit more for you guys.

We observed a small number of chrM reads in our final aligned BAMs. It seems like some reads are slipping through the pre-alignments. I dont think there is an explicit removal of reads mapping to chrM (ie grep -v chrM) because this would be hard coded.

Have you guys ever seen this on your end?

[2018-05-08 15:54] rcorces opened #42 "Pipeline does not catch improperly paired fastq files"
Not sure if you guys care about this one. I downloaded some data from SRA that had improperly paired fastq files (R1 and R2 not the same length and the reads didnt match up). The pipeline does not protect against this and ran through to completion.

If you dont care, feel free to close. Just posting to bring it up. I know its an edge case.

[2018-05-29 16:29] nsheff opened #43 "dockerfile missing libmysqlclient"
I get this error running in the docker container:
[code]

[2018-06-01 16:47] nsheff opened #44 "standardize summarizer ATAC_Looper_Summary_plot.R"
let's adjust `ATAC_Looper_Summary_plot.R` to take the project_config.yaml as input and then use `pepr` to load that up and get the info it needs to find the stats.tsv file.

this will be better for a more generalized looper summarize

[2018-06-04 18:37] #43 closed, assigned to jpsmith5

[2018-06-11 12:48] nsheff opened #45 "readme needs list of prerequisites"
right now, the readme just says "look at the yaml file" to see what you need to install. there are 2 problems with this:

1. the list is incomplete (for example, `skewer` is not in there)
2. this still isn't a good way to do it. the readme should include links to all software that must be installed, if not a script that does the installations for you.

[2018-06-12 01:57] nsheff opened #46 "check for genomes early"
right now the pipeline won't fail until a late step if any genomes are missing.

we should instead do a quick check right at the beginning to make sure genomes are present, since this seems to be a common error (for me anyway).

[2018-06-14 02:28] nsheff opened #47 "container update"
thanks to the new pypiper release, which is now on pypi, the pepatac container can now be changed to use
[code]
which will also auto-include yaml.

[2018-06-14 12:42] #47 closed, assigned to jpsmith5

[2018-06-19 12:23] #15 closed, assigned to nsheff, rcorces, jpsmith5

[2018-06-19 12:23] #40 closed, assigned to jpsmith5

[2018-06-19 12:24] #36 closed, assigned to jpsmith5

[2018-06-19 12:25] #37 closed, assigned to jpsmith5

[2018-06-19 12:26] #39 closed, assigned to jpsmith5

[2018-06-19 12:27] #44 closed, assigned to jpsmith5

[2018-06-26 20:13] nsheff opened #49 "summarizer error"
in a test example of data I downloaded from GEO I get this error when running the summarizer:

[code]

[2018-06-26 20:24] #45 closed, assigned to nobody

[2018-06-26 20:24] #46 closed, assigned to nobody

[2018-06-27 18:40] #49 closed, assigned to nobody

[2018-06-27 18:47] jf2016GH opened #50 "Exception: There is no bowtie2 index directory for hg38"
error when running sample from local computer:singularity exec instance://atac pipelines/pepatac.py ...:

[code]

[2018-06-28 18:08] #50 closed, assigned to nobody

[2018-06-29 12:42] nsheff opened #51 "summary plots are incorrect for incomplete samples"
The alignment summary plots show "duplicates %" as matching the aligned % when the full genome alignment hasn't yet completed. (we discussed earlier, making an issue so it doesn't slip through the cracks)

[2018-06-30 16:20] rcorces opened #52 "Preemption issues again"
I know these are hard to replicate on your end. I decided to test the pipeline's response to job preemption on our server. Lately, I havent had the need to expose jobs to the possibility of getting killed and restarted. But it looks like Pypiper is not responding to the SIGTERM and is forcing a SIGKILL. Can you think of any updates that would cause this? Because preemption was working pretty relia

[2018-07-02 12:03] nsheff opened #53 "more informative assembly missing error messages"
in #46 we implemented a check to make sure refgenie assemblies were present before getting too far along the pipeline.

But, like in #50, we're seeing this error creep up a lot for people. We should print some further info to help troubleshooting.

- Where is it looking? For example, let's say "Couldn't find indexes at this path:" instead of just couldn't find indexes.
- for which reference genome

[2018-07-02 14:55] #52 closed, assigned to nobody

[2018-07-03 16:32] rcorces opened #54 "Missing figures.tsv files for alignments_figs_summary.html"
I tried testing out the new looper summarize function and it looks like none of my experiments have figures.tsv files.

I do have something called "objects.tsv" though which looks like the right thing.

Im currently running looper v0.9.0.dev0, pypiper v0.7.3.dev0, and pepatac v0.7.0

This is the error I get
`## [439 of 446] PD-10-28-SPOR-PTMN-X028-S05-L009-B1-T1-P055 (ATAC)
No figures file '/oak/s

[2018-07-03 18:09] #54 closed, assigned to nobody

[2018-07-03 18:38] rcorces opened #55 "PEPATAC_summarizer.R fails with large inputs"
I already have a work-around for this but I wanted to give you the option of finding your own if you dont like the one I found.

The issue is definitely not going to be a problem for most users. If you have a very high number of samples (in my case, I have 446 at the moment but I dont know what the cutoff is) and you run looper summarize then you get a failure message related to the png device:

`

[2018-07-03 19:41] nsheff opened #56 "demo results"
We need a page of demo results.

[2018-07-10 19:19] #35 closed, assigned to jf2016GH

[2018-07-28 00:20] nsheff opened #57 "samblaster"
we should look into using [samblaster](https://github.com/GregoryFaust/samblaster) instead of PICARD for duplicate removal. I have heard it is faster and more convenient to use.

[2018-08-02 18:27] nsheff opened #58 "streamline filenames"
sometimes we use periods, sometimes underscores, in a hodgepodge of files produced. let's standardize that (I vote all underscores) and streamline what's coming out of the pipeline.

Thoughts:
- How should we name `wash_r2.pe.q10.sort.rmdup.bam`? can we simplify?
- no need to include dual extensions in `aligned_x_exact` folder
- the `unmap` string should come after the genome in the filenames on p

[2018-08-02 18:27] nsheff opened #59 "smoothed track on single end data"
the current pipeline appears to not be outputting any smoothed tracks. we should correct this.

[2018-08-02 18:51] nsheff opened #60 "dedup count bug"
I think there's a bug in dedup counts for single-end data. I see:

[code]

[2018-09-13 13:40] #60 closed, assigned to nobody

[2018-09-13 18:37] #58 closed, assigned to nobody

[2018-09-13 18:37] #55 closed, assigned to nobody

[2018-09-20 20:03] nsheff opened #63 "better genomes help message"
it's a bit difficult to know from the CLI help how to specify the genome, and if it isn't specified correctly, the error messages can be strange;

we should add a little bit of extra help to suggest how to point to the genome if we find the bowtie indexes lacking (like, 'in the `pepatac.yaml` file is a `genomes` variable....) something like that. because that's critical and someone just running it

[2018-10-12 13:47] nsheff opened #65 "resources"
pipeline interface resources are no longer dynamic

[2018-10-15 00:57] michalstolarczyk opened #66 "Getting started"
In [getting started](http://code.databio.org/PEPATAC/install.html#list-run-1) I'd suggest reiterating the `PEPATAC` repository cloning instructions in case of the container approach. Currently it instructs to pull the Docker image, download the `refgenie` assemblies, configure the pipeline (which is not there) and run.

[2018-10-15 02:12] #66 closed

[2018-10-16 00:32] michalstolarczyk commented on #66
I didn't notice the "mount the volume" note at the bottom. This solves the issue

[2018-10-23 00:24] nsheff opened #67 "config folder"
Probably safe to remove the config folder, since that's now handled by the `pipeline_interface`. That's a relic from an old way of doing it, when they used to be different files.

[2018-10-24 16:02] nsheff commented on #59
@nlsvtn has a more extensive example, can you try it?

[2018-10-25 14:57] jpsmith5 commented on #59
Produces smooth track without issue with Nikita's sample.  Closing.

[2018-10-25 14:57] #59 closed

[2018-11-01 15:57] nsheff opened #68 "error messages when missing bamSitesToWig requirements"
Reported by @cschmidl

if `wigToBigWig` for example is not in PATH, you'd get this error:

[code]

that's hard to understand. we need a better way of testing to make sure stuff is ready to go.

[2018-11-01 18:51] jpsmith5 commented on #68
Further testing required, but addressed and tested minimally in 45c8f47.  Will check if wigToBigWig is callable, if not, will report to user.

[2018-11-01 18:52] jpsmith5 commented on #57
This option exists in current dev branch.  In minimal testing, it clearly saves time, but haven't done thorough comparison.

[2018-11-01 18:53] jpsmith5 commented on #56
Website and demo results are up and running. Have moved website docs to subfolder in repository with instructions for building site.

[2018-11-01 18:53] #56 closed

[2018-11-01 18:58] jpsmith5 commented on #32
The pipeline now does everything that used to be split up between  ```bam2bed_shift.pl, bedtools genomecov, norm_bedGraph.pl, bedGraphToBigWig``` and `bamSitesToWig` using only` bamSitesToWig`.

[2018-11-01 18:58] #32 closed

[2018-11-01 19:02] jpsmith5 commented on #18
Looks like everything this was concerned about has since been addressed regarding usage and with plotting being taken over in R.  Closing for now.

[2018-11-01 19:02] #18 closed

[2018-11-01 19:04] jpsmith5 commented on #7
Tutorial and usage guides on repo's website.  Examples included in repository.

[2018-11-01 19:04] #7 closed

[2018-11-01 19:06] jpsmith5 commented on #11
Is this an option that would still be of utility @rcorces?

Can you specify more so how you envision the checkpoint concept coming in to play here @nsheff?

[2018-11-01 19:08] nsheff opened #69 "zcat on macos"
pepatac is not running well on macos due to several zcats.

See here: https://github.com/databio/pypiper/issues/92

we should eliminate these.

can you think of another way to do this: https://github.com/databio/pepatac/blob/c2716246c5160c1ea0ea888c1797bc5741e546c7/tools/PEPATAC_annotation.R#L184

[2018-11-01 19:10] jpsmith5 commented on #12
@nsheff -- The pipeline does handle SE data at this point.  Is there still interest in parameterizing `bowtie2` from the user perspective?

[2018-11-01 19:11] jpsmith5 commented on #69
Ah yes, I'll look at the R tool.  Zcat internal to the primary pipeline is fixed with 45c8f47.

[2018-11-01 19:12] jpsmith5 commented on #14
This information has been shifted to website docs.  Closing for now.

[2018-11-01 19:12] #14 closed

[2018-11-01 19:29] rcorces commented on #11
I'm not sure this is really necessary. If I followed the other thread correctly, some of the superfluous commands were removed and the extra time spent for QC is negligible.

[2018-11-01 19:31] jpsmith5 commented on #69
Addressed with 36ce0a5

[2018-11-01 19:31] #69 closed

[2018-11-01 19:34] nsheff commented on #68
I have a few other changes pending that will also solve this at another point.

[2018-11-01 19:43] jpsmith5 commented on #11
Agreed.  The majority of the runtime is consumed by the processes that would be "kept" in the abbreviated version.  Closing this for now.

[2018-11-01 20:19] nsheff commented on #63
Would be a useful start for this: https://github.com/databio/refgenie/issues/2

These checks should eventually end up as part of refgenie.

[2018-11-01 20:35] nsheff commented on #11
This may be of interest for a single-cell version, though... @cschmidl mentioned this to me as well.

for example, on a scATAC you wouldn't really need a smoothed bigwig track.

[2018-11-01 20:37] nsheff commented on #32
`bamSitesToWig` is awesome!

[2018-11-01 20:38] nsheff commented on #12
let's make 2 'command parameter' chunk options for the `pepatac.yaml` pipeline config file, one for prealignments and one for primary alignment.

[2018-11-01 20:45] rcorces commented on #11
This was the original thinking behind the abbreviated pipeline. We QC all of our libraries by MiSeq low depth sequencing at 200k reads per sample. So things like a smoothed bigwig track are not needed. I dont feel strongly. For scATAC, I imagine a lot of people will use pipelines from the companies (i.e. 10x Genomics CellRanger) so it may not be worth the investment on your end.

[2018-11-02 12:42] #67 closed

[2018-11-13 13:31] nsheff opened #70 "Missing TSS instructions"
I can't find any documentation on TSS enrichments.

[2018-11-13 13:36] nsheff commented on #11
I'm re-opening this so we can consider an abbreviated pipeline for scATAC.

@cschmidl said:

[2018-11-13 20:52] jpsmith5 commented on #70
There are descriptions of the files on the [glossary page](http://code.databio.org/PEPATAC/glossary/).  Do you mean a separate page about generating these independently?

[2018-11-13 20:53] jpsmith5 commented on #57
Made samblaster the default. It is both faster and uses less memory.

[2018-11-13 20:53] #57 closed

[2018-11-13 20:54] jpsmith5 commented on #11
I'll work on adding a sc-ATAC specific option.  I did end up adding a `--lite` option to essentially only keep the ultimate outputs along each branch, thereby saving significant disk space.

[2018-11-13 21:50] nsheff commented on #70
The reference genome has to have a TSS annotation, right? Or did you build those into the repo now?

I mean, how can someone get pepatac to generate TSS enrichment plots.

[2018-11-13 21:51] nsheff opened #71 "zip fastq files"
The unmapped fastq are given unzipped. we should zip them up.

Probably worth looking at all the pipeline outputs and making sure they are getting zipped.

[2018-11-14 01:28] nsheff commented on #11
We can also save space by zipping raw files, which we should definitely do (raised as separate issue #71)

[2018-11-14 01:33] nsheff commented on #57
make sure you update:
1. docs (prereqs)
2. container

[2018-11-16 16:36] nsheff opened #72 "fastqc reports to pypiper"
Right now fastqc is run in ngstk but the result are added as objects for summarize in pepatac.

this should be moved into ngstk.

[2018-11-16 21:06] nsheff commented on #72
Added to `ngstk` in databio/pypiper@ceab8cda99ae302689f3870907ed2cc92e087101

[2018-12-14 21:45] nsheff opened #73 "R function for BiocProject"
We need to create an R function that will read the PEP of a processed PEPATAC project and then load in the data (peak files, maybe) using [biocproject](https://github.com/pepkit/BiocProject)

this function will be useful to include with pepatac

[2018-12-19 13:42] nsheff opened #74 "add summarize dependencies to container"
Due to https://github.com/pepkit/looper/issues/31 -- I think we can start by at least adding all summarizer deps into the main container. then at least the same container could be use for `summarize`.

It shouldn't be too hard to just add those deps in, right?

[2018-12-19 15:42] jpsmith5 commented on #74
So running `looper summarize` using the container? Therefore the container must 'contain' all the required components for the summarizer script? This is the issue yes? It shouldn't be too hard to that into the container itself.

[2018-12-20 16:19] jpsmith5 commented on #74
@nsheff Thought: Does `Looper summarize` "know" how to submit the commands as a job? I think `summarize` is unaware of things like `--compute` and therefore doesn't know how to use a container... Therefore, if you don't have the requirements locally, it won't be able to execute the summarizer scripts.  In my test case, I do not have R installed locally, but I have the container and I have the pipe

[2018-12-20 16:46] jpsmith5 commented on #74
Follow up: For example, the summarizer_subparser does not have a `--compute` or a `--env` option as it stands. So yeah, there would be no way it would understand how to submit the command in a container yes?  But, I'm not sure yet what the additional changes are in the class to take advantage of those options...

[2018-12-21 02:20] nsheff commented on #74
The answer is No, that's what https://github.com/pepkit/looper/issues/31 is all about. What you're describing here is *exactly* that issue.

What I'm saying in this issue is this:

Then, someone could run `looper summarize` within the container as a workaround, until we solve that issue. This is what @armonazizi was doing in https://github.com/pepkit/looper/issues/48

But it can't work until we so

[2018-12-21 02:32] nsheff commented on #73
it should be possible to systematically find the files. @jpsmith5 can explain exactly the paths if you can't identify them from the pepatac script itself.

Also, I think this code should be put into the pepatac repository.

[2018-12-21 13:33] jpsmith5 commented on #74
Gotcha! Okay, well the container is updated then and in all the places.

[2018-12-21 13:33] #74 closed

[2018-12-21 15:48] michalstolarczyk commented on #73
Ok, I see that `{peak_calling_hg19}` *could* be inferred from

PEP config:
[code]

and this line:

https://github.com/databio/pepatac/blob/c2716246c5160c1ea0ea888c1797bc5741e546c7/pipelines/pepatac.py#L950-L951

But it seems like the `genome_assembly` is taken from the `argparse.Namespace` and not from the PEP config.

Unfortunately, I wasn't able to find the `{results_pipeline}` neither in `loope

[2018-12-21 16:11] jpsmith5 commented on #73
@michalstolarczyk I *think* the results_pipeline path is accessible in the `prj.metadata.results_subdir`? Let me look into this.

[2018-12-21 16:44] michalstolarczyk commented on #73
That's right, but if it's not provided in the PEP config, it has `results_pipeline` value and I wasn't sure where it came from.

It looks like the definition actually lives in `peppy`:

https://github.com/pepkit/peppy/blob/35da352ed44b1ee7551aa1c89d36111ac44b8ec3/peppy/project.py#L813-L817

[2019-01-04 14:56] nsheff commented on #71
is this completed?

[2019-01-04 16:01] jpsmith5 commented on #71
Yes, Done!

[2019-01-04 16:01] #71 closed

[2019-01-21 20:14] nsheff opened #76 "tutorial example question"
the tutorial example results are kind of strange because it's only one sample:

http://code.databio.org/PEPATAC/files/examples/tutorial/tutorial_summary.html

maybe we should make the tutorial use more than 1? or not show the looper summarize results?

[2019-01-23 03:28] hiroyukikato911 opened #77 "Error when running "pipelines/pepatac.py""
Hi,

When I run "pipelines/pepatac.py" using prepared example file with the only exception using hg19, I get the following error.

<pre>
</pre>
Process 31497 returned: (0). Elapsed: 0:00:00. Peak memory: (Process: 0.0GB; Pipeline: 0.0GB)
Follow:
['/Users/hiroyukikato/pepatac_test/test1/raw/test1_R1.fastq.gz', '/Users/hiroyukikato/pepatac_test/test1/raw/test1_R2.fastq.gz']
['/Users/hiroyukikato/pep

[2019-01-23 14:58] jpsmith5 commented on #77
Hi @hiroyukikato911,

I'm trying to replicate your error and so far I am not able to produce it.  I successfully ran your exact command.

A few things to check:
- First, just confirm that the test1_r1.fastq.gz files are not empty files (i.e. not file size 0).
- The error sounds like a problem with either the number of reads in the files producing an empty string or a floating point number that's b

[2019-01-23 15:05] nsheff commented on #77
@hiroyukikato911 it might be easier if you can attach your log file here.

@jpsmith5 when we figure out what is triggering this error, we should update the error message to be more informative

[2019-01-23 15:10] jpsmith5 commented on #77
Yes, agree to both statements.

[2019-01-23 15:15] nsheff opened #78 "docs links in to tutorial leads to 404 errors"
these links are file not found:

http://code.databio.org/PEPATAC/tutorial/#31-browse-the-output-directory

[2019-01-23 15:24] jpsmith5 commented on #78
Fixed in databio/code.databio.org@6cf85f2.

This is an instance I still haven't fully wrapped my head around where I'm missing these broken links.  When I serve the site from the `PEPATAC` docs the links all work, but in the transfer to `code.databio.org` they're broken.  Do you have a good technique for me to better catch these scenarios?

[2019-01-23 21:06] jpsmith5 commented on #76
Yeah that's a good point @nsheff . I do have the "gold" project as the example for a multi-sample run.  I could potentially just add an additional emphasis in the tutorial to see that as another example of the output?  And/or I could also simply add a second sample.  I like having the looper summarize results included to really show the full potential of integrating all the components, so I'd pref

[2019-01-24 04:00] hiroyukikato911 commented on #77
Hi,

Thank you so much for prompt response.
Followings are my situations.
・The test1_r1(and2).fastq.gz files are not empty(626 kb and 637kb each), but producing the next file "lock.fastq__tutorial_R1.fastq" which is 0 bite.
・It seems there is no phrase "reads lost" in my PEPATAC_log.md file.

Attached, please find my PEPATAC_log.md file.
[PEPATAC_log.md.zip](https://github.com/databio/pepatac/file

[2019-01-29 16:18] nsheff commented on #77
This is due to a bug in pypiper with mac `wc`. We have fix now here: https://github.com/databio/pypiper/pull/115

[2019-01-29 19:32] #78 closed

[2019-01-31 16:20] #72 closed

[2019-03-08 15:43] shmilyfhh opened #80 "TypeError: cannot concatenate 'str' and 'NoneType' objects"
Hi there,

I attached the error printout of one sample run. Any one could help? Thanks a lot.

Huihui

Target exists: `/secondary/projects/shen/projects/2019_01_07_MSC_Lan/ATACseq/pepATAC/2_3577UPitt_OM-MSC-1_ATAC_hs_i2/QC_hg19/3_UTR`
New start mode: run anyway

Targetless command, running...

Traceback (most recent call last):
  File "/home/huihui.fan/shen-secondary/projects/tmp/piplines/pepatac/

[2019-03-08 16:49] nsheff commented on #80
that's strange. can you attach the whole output file by chance? I can't tell what the command is trying to do...

[2019-03-08 16:52] shmilyfhh commented on #80
Thu Mar 7 11:31:38 EST 2019
### [Pipeline run code and environment:]

*              Command:  `/home/huihui.fan/shen-secondary/projects/tmp/piplines/pepatac/pipelines/pepatac.py -N -P 28 --single-or-paired paired --prealignments rCRSd human_repeats --genome hg19 --TSS-name hg19_TSS.tsv --sample-name 1_3577UPitt_A-MSC-1_ATAC_hs_i1 --input fastq/1_3577UPitt_A-MSC-1_ATAC_hs_i1_r1.fastq --input2 fast

[2019-03-08 17:03] nsheff commented on #80
this is a bug in pepatac. You can get around it for now by **turning off new start mode**. you'll have to just erase your output manually for now, and then re-run.

we will work on solving the bug for the future, though.

[2019-03-08 17:07] shmilyfhh commented on #80
sounds great! Thank you so much.

[2019-03-09 15:16] nsheff opened #81 "default issue"
We should add a github default issue template with some instructions for raising issues, which would include:

"please attach the full `.log` output file from your run", for example. this will just make it easier to avoid an extra back-and-forth with bug requests.

[2019-03-14 01:56] nsheff opened #82 "repository size"
I'm cloning the pepatac repository and it's very large... more than 100 Mb and still not finished, and is taking several minutes on my not-super-fast home connection. We should probably rethink what we're putting in this repository....

It looks like the big culprits are these files:

27M	examples/data/tutorial_r1.fastq.gz
28M	examples/data/tutorial_r2.fastq.gz

I don't think it's acceptable to pu

[2019-03-19 10:13] gcapture opened #84 "TypeError: '>' not supported between instances of 'list' and 'int'"
Hi all,
I'm trying to run the test example and have already run into some errors.
Please see the log file attached.
Not really sure how to proceed at this point, any help is appreciated.
Thanks!

[PEPATAC_log.txt](https://github.com/databio/pepatac/files/2982709/PEPATAC_log.txt)

[2019-03-19 12:19] nsheff commented on #84
I can't reproduce this. Looks like you're using a mac. I bet it has something to do with some mac quirkiness.

@michalstolarczyk can you try to reproduce this by just running pepatac on the test sample locally?

[2019-03-19 12:20] nsheff commented on #81
@jpsmith5 feel free to close issues when they are completed

[2019-03-19 12:20] #81 closed

[2019-03-19 12:21] nsheff commented on #82
@jpsmith is this solved?

[2019-03-19 13:10] jpsmith5 commented on #82
Resolved.  Moved tutorial and annotation files to [big.databio.org](http://big.databio.org)

[2019-03-19 13:10] #82 closed

[2019-03-19 13:11] #68 closed

[2019-03-19 13:12] #51 closed

[2019-03-19 13:13] #63 closed

[2019-03-19 13:34] #53 closed

[2019-03-19 13:37] jpsmith5 commented on #70
Present now in the [FAQ](http://code.databio.org/PEPATAC/faq/) and as part of both the [basic install](http://code.databio.org/PEPATAC/install/#22-download-or-create-annotation-files) and [extended tutorial](http://code.databio.org/PEPATAC/tutorial/#22-download-or-create-annotation-files).

[2019-03-19 13:37] #70 closed

[2019-03-19 13:58] jpsmith5 commented on #80
The most recent release includes the expected fix to this issue.

[2019-03-19 13:58] #80 closed

[2019-03-19 14:02] michalstolarczyk commented on #84
It looks like the test run succeeded

[PEPATAC_log.txt](https://github.com/databio/pepatac/files/2983701/PEPATAC_log.txt)

[2019-03-19 14:06] michalstolarczyk opened #85 "unable to follow issue template"
The template says:

but GitHub does not allow attaching `*.md` files

[2019-03-19 14:21] vreuter commented on #85
It used to be that this could be hacked around by changing the extension. Can we advise to change to txt or something ?

[2019-03-19 14:37] jpsmith5 commented on #77
Additional findings:

- If running the pipeline using Docker, read over the notes in the [how to run PEPATAC in a container](http://code.databio.org/PEPATAC/howto/use-container/) help page, and importantly, remember to provide docker sufficient memory in the settings.  Specifically, try setting the Docker preference to maximum (CPU, memory, and swap).
- The source of the error remains unclear, but

[2019-03-19 14:37] #77 closed

[2019-03-19 14:57] jpsmith5 commented on #84
Look's like maybe a `python3` problem, as the pipeline requires 2 currently.  To confirm, try calling the pipeline directly using `python2`.

For example:
[code]

The `YAMLLoadWarning` (line 50) is known and resolved in the latest updates to `pypiper`.  See databio/pypiper#128.

[2019-03-19 15:07] nsheff commented on #84
confirmed, I was wrong about the mac thing, it's a python3 problem in pypiper.

[code]

created issue: https://github.com/databio/pypiper/issues/133

[2019-03-19 15:07] nsheff commented on #84
interesting that my error is slightly different, maybe because I'm using 3.6 instead of 3.7.

[2019-03-20 09:55] gcapture commented on #84
Thanks all for all your help.
I called the pipeline with python2 (Python 2.7.15), it runs but fails at a certain point.
I think the problem might be with pypiper/manager.py? I tried to reinstall pypiper but pipeline still fails.
Please find the log attached. Any thoughts?

[PEPATAC_log.txt](https://github.com/databio/pepatac/files/2987519/PEPATAC_log.txt)

[2019-03-20 13:07] nsheff opened #86 "Improving efficiency in bigwig files with 0 counts"
Originally raised by @mjg54. We could produce reduced bigwig tracks by leaving out 0 counts.

What is the status on this?

[2019-03-20 13:09] #85 closed

[2019-03-20 15:45] shmilyfhh opened #87 "MACS2 parameters customized in yaml"
Hi there,

I am struggling with the MACS2 parameters in the yaml file. Briefly, I would like to try out the combination described in the SCIENCE paper (The chromatin accessibility landscape of primary human cancers), "For each sample, peak calling was performed on the Tn5- corrected single-base insertions using the MACS2 callpeak command with parameters “--shift -75 --extsize 150 --nomodel --call-

[2019-03-20 19:56] jpsmith5 commented on #87
Thanks for bringing this to our attention Huihui.  We are actively correcting this and should have a solution in the next day or so.  As a temporary fix while we test and roll out the changes, you can edit the `MACS2` call directly in `pepatac.py`.

On line 1165 of `pepatac.py` (or search for the phrase "macs_cmd_chunks"), you can find the formatting of the `MACS2` call and associated parameters.

[2019-03-21 18:56] shmilyfhh commented on #87
Thank you so much for the helpful information. It makes sense to go as far as the peak calling. By the way, it is a nicely organized pipeline!

[2019-03-22 17:41] nsheff opened #88 "gzip"
pepatac is using gzip. it should use pigz if installed.

it can do this easily with: `ngstk.ziptool`:

http://code.databio.org/pypiper/autodoc_build/ngstk/#ziptool

[2019-03-26 11:13] #88 closed

[2019-03-26 11:18] nsheff commented on #84
Hi @gcapture -- we've solved both your earlier problem (with python 3) and I *believe* also this problem with python 2 now. You need to:

- upgrade [pypiper](http://code.databio.org/pararead) to version `0.10` which I just released
- updgrade [pararead](http://code.databio.org/pararead) to `0.6`, which I just released.

Upgrade pepatac to `0.8.6` -- this should be [released later today](https://gi

[2019-03-26 11:20] nsheff commented on #12
@jpsmith5 this is related to #87, can you solve them both

[2019-03-26 15:00] jpsmith5 commented on #12
Addressed with 4ce8666

[2019-03-26 15:00] #12 closed

[2019-03-26 15:01] jpsmith5 commented on #87
Updated how tools are parameterized.  See 4ce8666 and a4bf65d.

[2019-03-26 15:01] #87 closed

[2019-03-26 15:33] nsheff commented on #87
@shmilyfhh you should be able to paramaterize in the `yaml` file now using the latest release of pepatac.

[2019-03-27 12:36] gcapture commented on #84
Thanks @nsheff! That's good news.

I'll give the new versions a go.

[2019-04-21 16:18] sthair opened #90 "Default settings/ empty peak files"
Hi there,
Can you point me to where your default settings are for each step, eg. alignment- is it bowtie? What settings? --sensitive or --very sensitive? trimming = 50bp overlap? MACS2 sliding window default?  Also, if I want to change these, can you give an example of the usage? Your usage page only explains the basics.
(Forgive me if this is here somewhere but I can't find it and I've read sever

[2019-04-21 16:35] vreuter commented on #90
Hi @sthair , you can tweak tool settings with the [pipeline configuration file](https://github.com/databio/pepatac/blob/master/pipelines/pepatac.yaml)

[2019-04-22 01:55] sthair commented on #90
Thank you that is super helpful.  Still tweaking installation of the pipeline with help of cluster master.. ran the test example.. under example tutorial summary, if I click on Dedup_alignment_rate, the bar is at 1.75M. however ```samtools view -c -F 4 test1_sort_dedup.bam``` == 17728. same for test1_sort.bam. Because test1_temp.bam is not retained that is as far back as I could trace.. does that

[2019-04-22 05:36] vreuter commented on #90
Hm I'm not sure right off hand, but this sounds sort of familiar so may've previously come up;  a scan through the closed issues didn't yield anything promising-looking to me, though. @jpsmith5 may know more or have a stronger intuition for what's at play. Regardless, if you still have a log file that was produced or could copy the printouts into a text file that you can attach, that'd be great an

[2019-04-22 18:22] sthair commented on #90
OK I am running it again, module has been rebuilt and I will see whatI get

[2019-04-23 01:15] sthair commented on #90
Hi there, @vreuter @jpsmith5

OK I've run it again and same thing.
I think the issue lies somewhere in the process of converting the bam to bed files. ??? Here is what I have gathered:

Aside from this one kinda cryptic message at the end of the macs2 step ```> `Peak_count`  0       PEPATAC _RES_```
there are no warnings or 'stopifs'
[export4GitHubTrouble.zip](https://github.com/databio/pepatac/fi

[2019-04-23 16:10] nsheff opened #91 "empty temp folders"
In the aligned_GENOME and any prealignment folders are subfolders that are called 'tmpXXXXXX' left behind.

we should clean these up.

[2019-04-23 17:39] sthair commented on #90
Good morning,

FYI you may find in the log attached in my previous post ```Skipping TSS -- TSS enrichment requires TSS annotation file```.

That has been corrected and run again, but the subsequent output still has empty peak files, which makes sense from what I glean from the code as the generation of those plots are a branch and I don't think they feed into the bam to bed steps.

Nevertheless, h

[2019-04-25 13:06] sthair commented on #90
Hi-
So.... I got a hold of someone at Stanford familiar with your work as I was desperate to get this running who mentioned the test data ```examples/data/test1_r1.fastq.gz``` ```examples/data/test1_r2.fastq.gz``` are so small there may be no peaks to call. Because I was trading code with our server master who has to set up the container environments, I didn't realize that I should be comparing th

[2019-04-25 13:08] sthair commented on #90
PS. I have deleted the posts above so the logs etc are not out there with my username etc. If you haven't got them and want them just ping me.

[2019-04-25 13:17] nsheff commented on #90
Hi Simone,

Yeah, the test data is just to make sure everything can *run*...it's tiny. We didn't want to include any real data inside the code repository.

So where exactly was the confusion? Is there a point in the documentation we could fix to make it easier for future searchers?

Also if you're at Stanford, we already have pepatac running on Sherlock with all the compute settings set up: https:

[2019-04-25 14:30] nsheff opened #92 "geofetch tutorial is outdated"
geofetch is now installable, rather than run as a script.

[2019-04-25 17:48] nsheff opened #93 "Docs updates needed"
Accumulating some docs-related tasks for next release:

- [ ] add demo pngs to repo
- [ ] add user guide on prealignments (rationale, how-to)
- [ ] update PEPENV to divvy (ideally link to divvy docs). may require updating looper docs first
- [ ] write and submit pepatacr R package
- [ ] can the summarizer use the R package instead of a script?
- [ ] clarify TSS vs 'feature annotation' inputs. mayb

[2019-04-29 15:12] nsheff opened #94 "question about core use"
This section looks like it would be using 4 times as many cores as have been allotted to the pipeline, because it specifies 4 piped processes, each using all the cores... or are these processes *all not done in parallel* ?

https://github.com/databio/pepatac/blob/8713870c027c3ea94b2d107392dad85590942899/pipelines/pepatac.py#L968-L1004

[2019-04-29 15:13] nsheff commented on #94
also, why are there two identical sections in the 'samblaster' conditional?

[2019-04-29 17:36] caldodge opened #95 "samtools given bad options"
[PEPATAC_log.md.txt](https://github.com/databio/pepatac/files/3128494/PEPATAC_log.md.txt)

PEPATAC appears to be passing invalid options to samtools 1.8.  Is this because some option is not being used?  -@ does not appear in the samtools man page.

[2019-04-29 18:51] nsheff opened #96 "bug in gzipping"
https://github.com/databio/pepatac/blob/1c237cd155480d3aeb0a1fcf23361e169561cf2b/pipelines/pepatac.py#L783-L788

THis is producing this:
[code]

which has no files (there's a space there)...

[2019-04-29 18:59] nsheff commented on #95
Can you confirm that you're using a recent version of `samtools` ? With Samtools 1.9, these are valid options.

[code]

[2019-04-29 19:02] nsheff commented on #95
I also confirmed that this works with `samtools 1.7`. I'm guessing you're using samtools 0.X...

[code]

[2019-04-29 19:03] nsheff commented on #95
it is true that there's probably no point in using the `-@` option for `view` though, I'm not sure what that would do...

[2019-04-29 19:39] nsheff commented on #96
looks like it's just a problem with single-end data.

[2019-04-29 19:52] nsheff opened #97 "bamsitestoWig"
We could convert perl scripts into C, and then package this up and distribute via pypi.

[2019-04-29 20:33] caldodge commented on #95
Using samtools 1.8. "-@" does not appear in the man page.  Any chance this
is activated by a specific samtools build option?  At any rate, we'll build
and install samtools 1.9 to see if that fixes the issue.

On Mon, Apr 29, 2019 at 2:02 PM Nathan Sheffield <notifications@github.com>
wrote:

[2019-04-30 00:26] sthair commented on #90
Hi Nathan @nsheff !
Thank you so much for getting back to me. The confusion literally was a product of having too many deadlines all at the same time last week and trying to complete this project "in my spare time- aka the middle of the night". At the beginning I had to hand this off for the cluster master to get all of the programs installed/ get container working.

I didn't read the full tutoria

[2019-04-30 01:39] sthair opened #98 "hg19_TSS.tgz is empty"
Hi there,
Please see attached log..

I was able to run this exact same process successfully with ```--genome hg38```

Now with ```--genome hg19``` it fails. I was able to run this sample through with hg19 on the Chang lab server so I know the sample is just fine. And in fact the insert size distribution plots look very similar.

I think (?) this is because the hg19_TSS.tgz file at http://big.datab

[2019-04-30 01:45] nsheff commented on #98
you're right, that file is incorrect! I will replace it tomorrow. sorry about that.

[2019-04-30 02:04] nsheff opened #99 "missing links to log files"
http://code.databio.org/PEPATAC/files/examples/gold/reports/status.html

log file links are broken.  which is weird, because it' looks like they're in the repo...also broken on the new system: http://pepatac.databio.org/en/latest/files/examples/gold/reports/status.html

[2019-04-30 12:04] nsheff commented on #98
Alright here you go: http://big.databio.org/refgenomes/hg19_TSS.tsv.gz

[2019-04-30 12:04] #98 closed

[2019-04-30 12:10] nsheff commented on #95
The `@` option appears on the samtools man page since version 1.2:  http://www.htslib.org/doc/samtools-1.2.html

It's also on the man page for 1.8: http://www.htslib.org/doc/samtools-1.8.html

I don't think it's a special build option; I'm guessing you've been using samtools 0 even though you think you're using 1.8. can you show the output of `samtools --version` ?

[2019-04-30 15:09] caldodge commented on #95
[dodgec@csclprd3 ~]$ module load samtools
[dodgec@csclprd3 ~]$ samtools --version
samtools 1.9
Using htslib 1.9
Copyright (C) 2018 Genome Research Ltd.

On Tue, Apr 30, 2019 at 7:10 AM Nathan Sheffield <notifications@github.com>
wrote:

[2019-04-30 20:54] sthair commented on #98
Thank you!

[2019-05-01 16:01] nsheff commented on #95
did switching to 1.9 solve your issue?

[2019-05-01 17:01] caldodge commented on #95
Nathan,

Yes, thanks - version 1.9 worked fine.

On Wed, May 1, 2019 at 11:01 AM Nathan Sheffield <notifications@github.com>
wrote:

[2019-05-01 17:03] #95 closed

[2019-05-02 18:48] nsheff opened #101 "summary demo links images are missing"
Images are missing on this page:

http://pepatac.databio.org/en/latest/files/examples/gold/reports/tss_enrichment.html

[2019-05-02 18:50] nsheff commented on #101
This is because of summary demo pngs not being included in the repository, which was already reported in #93

[2019-05-03 12:57] nsheff opened #102 "'custom annotation' wording is overloaded"
we use 'annotation' to refer to samples; but here also to peak annotations:

http://code.databio.org/PEPATAC/howto/create-annotation-file/

we should disambiguate in the docs

[2019-05-03 16:46] michalstolarczyk opened #103 "test example failure; ValueError"
I'm getting an error when running the [test example](https://github.com/databio/pepatac/tree/master/examples/test_project):

[code]

It looks like the stats reporting might be off

[PEPATAC_log.txt](https://github.com/databio/pepatac/files/3142784/PEPATAC_log.txt)

[2019-05-03 16:47] michalstolarczyk commented on #103
oh, it worked when using `pypiper` on `dev`...

[2019-05-03 17:24] michalstolarczyk opened #104 "indentation problem leading to missing TssEnrichment.txt"
I'm getting an error when running the [test example](https://github.com/databio/pepatac/tree/master/examples/test_project):
[code]

[PEPATAC_log.txt](https://github.com/databio/pepatac/files/3142917/PEPATAC_log.txt)

[2019-05-03 17:26] michalstolarczyk commented on #103
failed later: https://github.com/databio/pepatac/issues/104

[2019-05-03 18:10] michalstolarczyk commented on #104
did _not_ fail when run with python 2.7.15

[2019-05-07 13:29] michalstolarczyk opened #105 "core number calculation needs to force an int result (python3)"
in `bamSitesToWig.py` call the cores calculation fails to produce an integer when running with python 3 and the pipeline fails every time:

[code]

[PEPATAC_log.txt](https://github.com/databio/pepatac/files/3152815/PEPATAC_log.txt)

------
https://github.com/databio/pepatac/blob/68a047d78b02489a646e95291f29a66e9911df4f/pipelines/pepatac.py#L1039

[2019-05-09 13:08] nsheff commented on #104
this was fixed in 4f2288e

[2019-05-09 13:09] nsheff commented on #105
this was fixed in a4ecd1910c8f59afa8344ba471ad820591f7bd76

[2019-05-09 13:10] nsheff commented on #103
I think I also already fixed this one as well. can you check with the dev branch after my recent PR?

[2019-05-09 15:43] michalstolarczyk commented on #103
confirmed!

[2019-05-09 15:43] #103 closed

[2019-05-09 15:44] #104 closed

[2019-05-09 15:44] #105 closed

[2019-05-10 12:54] nsheff opened #107 "commands running on repeated pipeline run"
If you run the pipeline a second time immediately after running it once, ideally, there shouldn't be anything calculated. in PEPATAC though we're still re-calculating a bunch of stuff. Could these things better be done in follow functions?

These are things that are recalculated even after a pipeline is completed successfully:

ep -we 'chrM' -we 'chrMT' -we 'M' -we 'MT' -we 'rCRSd'| cut -f 3`

Tar

[2019-05-13 13:37] nsheff commented on #91
This was due to a bug in pypiper: https://github.com/databio/pypiper/issues/143

This is now resolved with update to pypiper 0.11

[2019-05-13 13:37] #91 closed

[2019-05-13 17:53] nsheff opened #108 "eliminating tools dependencies"
Raised by @guertinlab

How much work would it be to wrap *everything* in the `tools` folder into one or more packages so that the `pepatac.py` script is portable?

[2019-05-13 19:54] nsheff opened #109 "streamline what reads files we keep"
Now the clean_add is working with the pypiper 0.11 update, so I'm wondering if we should revisit which files we keep... for exasmple, we're keeping `sorted.bam` and `dedup_sorted.bam`, plus files in the prealignments folder. I'm not sure we need all this...

[2019-05-19 05:54] vreuter opened #110 "singularity usage docs?"
I can't find usage docs for singularity. There's an extended tutorial with some information about installation, and there's a container usage page but that looks like it's tailored to docker. Is there usage info for singularity on the code.databio.org page?

[2019-05-19 11:56] nsheff commented on #110
docs are incomplete for these links may help:

http://divvy.databio.org/en/latest/containers/
http://pepatac.databio.org/en/latest/howto/use-container/ (new version of docs for new pepatac that isn't quite ready yet)

[2019-05-20 17:16] vreuter commented on #110
Thanks @nsheff -- those clarified things for me

[2019-05-20 17:16] #110 closed

[2019-05-29 15:54] rcorces opened #112 "Output BAMs have incomplete @RG line in header"
This may be beyond the scope of PEPATAC but the output BAM files cannot be directly used with certain tools (like GATK) because the header `@RG` line is incomplete. GATK requires (at least?) an SM and PL entry. The PEPATAC output bam looks like this:
`@RG     ID:ACCx-025FE5F8-885E-433D-9018-7AE322A92285-X034-S09-L133-B1-T1-P077`
And a complete `@RG` line would look something like this:
`@RG     ID

[2019-06-03 18:03] sthair opened #113 "MACS2 customization"
Hi there, I would like to run PEPATAC using MACs and also set the MACs settings to match this statement
```Peak calling was performed by MACS2 narrow peak mode with parameters –q 0.01 –nomodel –shift 0```

Can I just add the parameters to my command like this:
```singularity exec --bind ${GENOMES} --bind /labs/syang5 --bind ${ANNOTATIONS} --bind ${PEPATAC} $PEPATAC/pepatac ${PEPATAC}/pipelines/pep

[2019-06-03 18:09] sthair opened #114 "Insert size distribution"
Hi there,
I ran pepatac on an old sample that was processed with the Chang pipeline at Stanford.

The insert size distribution shape looks exactly the same but the magnitude is 10X less. Is this the data subsetted for the graph? Or is it subsetted completely? This runs extremely fast and I got back way less peaks than expected as well....

If it is subsetted, can I change it to run everything? Thi

[2019-06-03 18:23] vreuter commented on #113
Hi @sthair the settings that you mention for `macs2` should be the defaults, but you can use the `pepatac.yaml` config file to change settings for `macs2` and other tools that `pepatac` uses.

[2019-06-03 21:39] sthair commented on #113
Hi thank you so much!
Can you explain a little further, I don't like to edit source files.
so eg I would edit the .yaml and ideally save as pepatac_stedit.yaml
but then how do I make sure it uses the new yaml?
S

[2019-06-03 23:29] sthair commented on #113
so I tried editing the .yaml file and then ran this:
```singularity exec --bind ${GENOMES} --bind /labs/syang5 --bind ${ANNOTATIONS} --bind ${PEPATAC} $PEPATAC/pepatac ${PEPATAC}/pipelines/pepatac.py -P 8 -C pepatac_st1.yaml --single-or-paired paired --prealignments rCRSd human_repeats --genome hg19 --sample-name D4_LPStest_hg19 --input examples/data/D4-LPS-1-TAAGGCGA-GCGATCTA_S1_L003_R1_001.fastq

[2019-06-04 01:31] sthair commented on #113
Hello @vreuter @nsheff   so I have tried a lot of different tweaked versions but basically I got it running without singularity and the command is like this ```python pipelines/pepatac.py -P 8 --single-or-paired paired --prealignments rCRSd human_repeats --genome hg19 --sample-name D4_LPS_testnosing --input examples/data/D4-LPS-1-TAAGGCGA-GCGATCTA_S1_L003_R1_001.fastq.gz --input2 examples/data/D4-

[2019-06-04 01:32] sthair commented on #113
ps the only thing I changed in the pepatac.yaml is that macs2 is now -q 0.1

[2019-06-04 02:00] nsheff commented on #113
can you provide the entire log file? Also, please confirm -- from the directory you are running the `python ...` command, can you type `ls pipelines/pepatac_st1.yaml` and  confirm it's in that relative location?

and does it work if you *don't* rename it, but just edit the existing `pepatac.yaml` file and then *not* specify with `--config` ?

[2019-06-04 02:40] sthair commented on #113
Hi thank you!
OK
1. ```[sthair@smsx10srw-srcf-d15-35 pepatac]$ pwd
/home/sthair/pepatac
[sthair@smsx10srw-srcf-d15-35 pepatac]$ ls pipelines/pepatac_st1.yaml
pipelines/pepatac_st1.yaml
[sthair@smsx10srw-srcf-d15-35 pepatac]$ ls pipelines/
pepatac_backup.yaml  pepatac.py  pepatac_st1.yaml  pepatac.yaml
[sthair@smsx10srw-srcf-d15-35 pepatac]$
[code]

[2019-06-04 02:52] sthair commented on #113
PS. I am not super strong in python so this could be way off but I noticed that in pepatac.py ```def parse_arguments()``` there is no ```parser.add_argument``` defined for --config

[2019-06-04 12:50] jpsmith5 commented on #114
To my understanding, no, this should not be subset in any way.  The fragment count is simply being determined from the aligned and sorted bam file (minus duplicates), and the number of unique fragment sizes tallied.  I don't believe this has been changed from early versions of the pipeline so I am equally confused why you're seeing such a decrease in read count.  You could look at the two BAM file

[2019-06-04 13:04] nsheff commented on #114
can you send us the log files from each run?

[2019-06-04 13:26] nsheff commented on #113
the config param is added by the `add_pypiper_args` since it's shared across pipelines. you can see it's getting correctly recieved by the pipeline:

[code]

the config file is assumed to relative to the pipeline script, rather than to the current working directory. sorry for the confusion -- just take of 'pipelines/' here.

so: `--config pepatac_st1.yaml` will work.

[2019-06-04 16:27] sthair commented on #114
Thank you so much! So I am sorting out a few things on my end with the server master, we got it working but he helped a lot the first time around and we were running it with singularity as we are not allowed to use docker and I am totally new to that concept and all of the usage that goes with it. ... and turns out the directories it points to I do not have permission to edit the yaml. The copy of

[2019-06-04 16:33] sthair commented on #113
HI, thank you!

That helps a lot. So "relative to the pipeline script" means that if it is in the same directory as the pipeline script, then I don't provide the path.

Also FYI, point 3 above worked when I just edit the original .yaml file, but I am missing some QC files so I am working with the server master as per my other run on sentence in the other issue I have posted, I think I am not compl

[2019-06-05 09:33] dimkonstanto commented on #105
The code is still "cmd += " -p " + str(max(1, int(pm.cores) * 2/3)) " in the most recent pepatac.py script downloaded by github.

[2019-06-06 13:50] jpsmith5 opened #115 "Problem expanding $REFGENIE env var"
@vreuter

Have set `REFGENIE` to my refgenie.yaml.  Looks like either PEPATAC when it  performs `_add_resources` (line 503) is not expanding the path there, or in `refgenie` proper when it's loading the config file it is not expanding?

My $REFGENIE:
[code]

[code]

Potentially relevant portion of `refgenie`

[code]

[2019-06-06 14:19] nsheff commented on #115
Is this related to https://github.com/pepkit/attmap/issues/37

@jpsmith5 can you confirm you have `attmap` >= 0.11 ?

[2019-06-06 14:24] jpsmith5 commented on #115
[code]
[code]

[2019-06-06 16:30] vreuter commented on #115
Sorry for the trouble @jpsmith5 ; this will be solved in the next point release of `attmap`. [Here's the ticket](https://github.com/pepkit/attmap/issues/59) if you want to track.

[2019-06-06 16:51] nsheff commented on #115
if we can confirm that this solves it, then this is worth another attmap point release (and update the pepatac requirements).

[2019-06-06 17:49] vreuter commented on #115
OK, do you want to try with what's now on `attmap`'s `dev` branch, or do you want me to release 0.12.5 and then just try with that release version?

[2019-06-06 18:05] jpsmith5 commented on #115
Still see it.

[code]

[code]

[2019-06-06 19:52] nsheff commented on #115
does that fix it @vreuter ?

[2019-06-06 20:01] vreuter commented on #115
It makes an additional improvement to `PathExAttMap`s, but there's no test case for this issue.

[2019-06-06 20:05] jpsmith5 commented on #115
Reinstalled from dev. Same issue.

[code]

[2019-06-06 20:06] vreuter commented on #115
The change is only in the `vreuter` remote, not `pepkit`

[2019-06-06 20:07] vreuter commented on #115
Oh, nevermind; apparently I did already put that on `pepkit`.

[2019-06-06 20:09] vreuter commented on #115
Anyway, happy to test it for a specific case once one's presented.

[2019-06-06 20:28] vreuter commented on #115
[code]

[2019-06-06 20:28] vreuter commented on #115
[code]

[2019-06-06 20:33] nsheff commented on #115
don't edit an old comment to make a complete change in the message -- this new message will be lost because edits aren't notified. only make minor clarification edits and post a new idea as a new message.

your refgenie.yaml file needs a `genome_server` attribute (top-level attribute)

[2019-06-07 02:13] nsheff commented on #115
@jpsmith5 let us know if just putting the `genome_server` into your refgenie file solves this.

but this brings up a point: maybe the `genome_server` attribute shouldn't be required. @vreuter what do you think? Is it intentional that `genome_server` is required? I can imagine a situation where it would not be needed (someone building and listing their own local assets). in fact, this is a good exa

[2019-06-07 02:38] vreuter commented on #115
I don't have a preference; it's required based on [this comment](https://github.com/databio/refgenconf/issues/21#issuecomment-498404380)

[2019-06-17 15:31] dearxxj opened #116 "OSError: [Errno 5] Input/output error: 'lock.stats.tsv'"
Hi, just curious that anyone had this error? I followed the tutorial(#122-install-software-requirements-natively) to install the pipeline and I think I got everything right.

Below is the error message. Also, the log file is attached.

Traceback (most recent call last):
  File "/hpc/home/abc/src/pepatac/pipelines/pepatac.py", line 1422, in <module>
    sys.exit(main())
  File "/hpc/home/abc/src/pe

[2019-06-17 16:01] nsheff commented on #116
That's a strange error... if you run it again  after deleting the output folder completely, do you get the same error?

Can you confirm that you have permissions set correctly on the 2 input files?

[2019-06-17 16:16] dearxxj commented on #116
Thanks for the quick reply! I tried deleting the output folder completely and I still got the same error. I have the read permission to the 2 input files. The permission is set as "-rw-rw-r--".

[2019-06-17 16:20] nsheff commented on #116
this is quite strange. I can't reproduce it using local files here...the error is coming from this line:

https://github.com/databio/pepatac/blob/a0e4347b199c91bbfd7d994b0705da2ca8d51015/pipelines/pepatac.py#L543

ultimately to this line:

https://github.com/databio/pypiper/blob/master/pypiper/manager.py#L1322

But I can't find any information on why `os.remove` would be throwing this kind of erro

[2019-06-17 16:22] nsheff commented on #116
can you also say whether the lock file exists and what it's permissions are ('ATAC-seq/pepatac/868/lock.stats.tsv'),

and also if the "File_mb" line was correctly printed in the `stats.tsv` file?

[2019-06-17 16:25] nsheff commented on #116
here's an interesting thought: https://stackoverflow.com/a/43518633/946721

[2019-06-17 16:32] dearxxj commented on #116
I tried different datasets and error is the same. My OS is

The `stats.tsv` file has only one line:

`quota -s` gives me an error, but I'm pretty sure my quota has not run out because I can write other files.

[2019-06-17 16:53] nsheff commented on #116
Ok, thanks. I think this has something to do with your local HPC setup. Can you ask the people in charge there and let me know what they say?

I can't find anything wrong with the software and it works fine in multiple other computing environments...

you might be able to narrow it down to just starting up python and typing:

[code]

Why can't you remove that file?

[2019-06-17 17:51] dearxxj commented on #116
It's strange that If I just run os.remove(), the file can be removed without an error...

`python -c 'import os;os.remove("lock.stats.tsv")'`

I guess that file is used by other programs while being removed by pypiper.

[2019-06-17 18:06] nsheff commented on #116
Hmm... that is strange. Try something like this:

[code]

[2019-06-17 18:38] dearxxj commented on #116
This line `pm._safe_write_to_file("test.txt", "message")` replicates the error. I tried to uninstall and re-install pypiper and it didn't work.

[2019-06-17 18:50] nsheff commented on #116
Ok, tell me if this replicates the error:

[code]

and if this solves it:

[code]

[2019-06-17 20:19] nsheff commented on #116
if that works, you can try updating to the dev pypiper with:

`pip install --user --upgrade https://github.com/databio/pypiper/archive/dev.zip`

and let me know if that works.

[2019-06-17 21:01] dearxxj commented on #116
Yes! This solves the problem perfectly! Now the pipeline is running without any error. Thank you so much for your help.

[2019-06-17 23:43] nsheff commented on #116
great. This will be fixed then in the next release version of pypiper (0.11.3). Thanks for reporting it!

[2019-06-17 23:43] #116 closed

[2019-06-18 01:30] sthair commented on #113
Have everything pointing at the correct directories and this works now thanks!

[2019-06-18 01:30] #113 closed

[2019-06-18 01:33] sthair opened #117 "Merge bam files for duplicates prior to calling peaks"
Hi there,
I am wondering if there is a way to merge the _sort_dedup.bam files for duplicate samples, assign to rmdup_bam, and then call peaks/ run the rest of the pipe from that. These are paired end samples FYI
thanks!
Simone

[2019-06-18 02:14] nsheff commented on #117
is there a reason you want the earlier steps run separately? If not you can use this:

https://pepkit.github.io/docs/sample_subannotation/

it will merge them at the beginning, though.

[2019-06-18 12:51] nsheff commented on #116
FYI, it's now in the release version of pypiper.

[2019-06-18 16:38] dearxxj commented on #116
That's great! I'll try it. Thanks!

[2019-06-18 21:30] dearxxj commented on #116
As the pipeline was running, there is another error that popped out. I was able to fix it by myself, though not sure if I did it right. I feel that it's not necessary to open a new issue, and I'll just paste it here.

Traceback (most recent call last):
  File "/hpc/home/abc/src/pepatac/pipelines/pepatac.py", line 1422, in <module>
    sys.exit(main())
  File "/hpc/home/abc/src/pepatac/pipelines/pe

[2019-06-18 21:44] nsheff commented on #116
can you also solve it with:

[code]

[2019-06-19 16:56] #115 closed

[2019-07-01 16:37] rcorces opened #119 "bamSitesToWig asking for non-integer number of cores"
After a recent update, I'm getting an error with bamSitesToWig where it calls for a non-integer number of cores via the `-p` argument:
`bamSitesToWig.py: error: argument -p/--cores: invalid int value: '5.333333333333333'`

This comes from this line which introduces a divide by 3 outside of the `int()` call:
https://github.com/databio/pepatac/blob/a0e4347b199c91bbfd7d994b0705da2ca8d51015/pipelines/

[2019-07-01 17:29] nsheff commented on #119
Yep. I think you're exactly right. in the meantime if you use a number of cores that's divisible by 3 it should go away :).

[2019-07-01 17:29] nsheff commented on #119
@jpsmith5 do you want to correct this?

[2019-07-01 19:16] jpsmith5 commented on #119
It was re-corrected already.  Trying to finish up testing dev branch before merging into master, then it'll be corrected there again.

[2019-07-02 15:56] jpsmith5 commented on #112
Hey @rcorces, as follow up to this, do you then currently use something like picard's [`AddOrReplaceReadGroups`](http://broadinstitute.github.io/picard/command-line-overview.html#AddOrReplaceReadGroups) function? Or the [`samtools addreplacerg`](http://www.htslib.org/doc/samtools-1.5.html)?  `samtools` version can replace *all* `@RG` tags with a fixed string replacement, but not sure if that will

[2019-07-02 16:24] rcorces commented on #112
I only needed to run one single sample through GATK so I just manually edited the header and moved on. I dont think the `@RG` tags of each read needs to be changed if that is what those tools do. It should just be the one line of the header that needs to have a little additional info (SM = sample, LB = Library, PL = platform). I dont remember how that info gets added to the header normally though.

[2019-07-02 16:43] jpsmith5 commented on #112
Gotcha, yeah I'm not immediately sure the source for the read group tags either.  May be a reflection of older read files versus those from newer tech? Were the originating reads for your case from an older sequencing platform at all?

[2019-07-02 17:05] rcorces commented on #112
Just did some googling on this. I think you just need to pass a few extra command line options to bowtie2 (according to this post http://seqanswers.com/forums/showthread.php?t=28100). Though that post is a bit out of date.
From the samtools manual, the correct command line option would be `--rg` and this is how you would add the SM, LB, and PL info to the header:
![image](https://user-images.githu

[2019-08-08 00:59] juheon opened #121 "Siphoning off Alu repeats"
Could you explain why do you use prealignment to siphon off Alu repeats?
The elimination of rRNA DNA and alpha satellites makes sense to me, assuming I am interested in the non-centromere genomic regions and non-rRNA DNA regions. However, Alu sequences are abundant (~10% of the human genome) and often overlap with GENCODE TSS location. I think prealignment of Alu repeats may result in false-negati

[2019-08-16 09:19] qiaowei-vvjoe opened #122 "ModuleNotFoundError: No module named 'pypiper'"
Hi
I am now test this PEPATAC pipline.I install pypiper python package by miniconda3,but when I test the pepatac.py without looper it shows No module named 'pypiper'.Could anyone help me with the error?Thanks so much in advance.

[2019-08-16 10:19] nsheff commented on #122
What command did you use to install?

On pypi, the pypiper package is called `piper` (not `pypiper`).

[2019-08-16 10:43] qiaowei-vvjoe commented on #122
@nsheff
Hi
I am so sorry for that stupid question but I just test the pepatac.py.

python3 pepatac.py -P 5 -O /mnt/disk1/qiaowei/pepatac_tutorial/tools/pepatac/example/data -S test_without_looper -G hg38  -Q paired  -C pepatac.yaml  -gs hs -I /mnt/disk1/qiaowei/pepatac_tutorial/tools/pepatac/examples/data/test1_r1.fastq.gz -I2 /mnt/disk1/qiaowei/pepatac_tutorial/tools/pepatac/examples/data/test1_r

[2019-08-16 11:20] nsheff commented on #122
Hi, you're not *installing pypiper* correctly. this shows how to install it:

http://pypiper.databio.org/en/latest/

[2019-08-16 12:40] qiaowei-vvjoe commented on #122
Hi @nsheff
I just wget https://github.com/databio/pypiper/archive/v0.12.0.zip
then unzip v0.12.0.zip
then go to pypiper-0.12.0/example_pipelines
to test python3 hello_pypiper.py

but it still showed No module named 'pypiper'
did I do any wrong steps?
I am so sorry for that stupid question.

[2019-08-16 14:24] nsheff commented on #122
you have not installed pypiper. please install pypiper first. please read my earlier comments.

[2019-08-17 14:17] qiaowei-vvjoe commented on #122
@nsheff
Hi Nathan
I have installed pypiper according to your comment and  run python3 hello_pypiper.py successfully.
### Pipeline completed. Epilogue
*        Elapsed time (this run):  0:00:01
*  Total elapsed time (all runs):  0:00:00
*         Peak memory (this run):  0 GB
*        Pipeline completed time: 2019-08-17 10:03:27

But when I test the example there comes other errors, for me now I ju

[2019-09-04 06:55] DzLGasoline opened #123 "cannot complete image building with "make docker""
As given instructions, I cloned pepatac pipeline files and
`cd ~/pepatac`
`make docker`

Everything seemed fine until this error message popped up:

 Collecting pysam (from pararead)
  Downloading https://files.pythonhosted.org/packages/15/e7/2dab8bb0ac739555e69586f1492f0ff6bc4a1f8312992a83001d3deb77ac/pysam-0.15.3.tar.gz (3.2MB)
    ERROR: Command errored out with exit status 1:
     command: /us

[2019-09-04 09:44] #123 closed

[2019-09-04 09:44] DzLGasoline commented on #123
found workarounds.

[2019-09-05 14:17] nsheff commented on #123
It seems like a problem with docker or something... you shouldn't need anything but docker installed in order to build a dockerfile... what was your workaround?

[2019-09-20 15:38] qiaowei-vvjoe commented on #77
Hi
@hiroyukikato911 Have you fixed your problem now?I think maybe I have the same error as you:

$ ~/configure/python3/bin/python3.6 pepatac.py --help
Traceback (most recent call last):
  File "pepatac.py", line 1422, in <module>
    sys.exit(main())
  File "pepatac.py", line 461, in main
    args = parse_arguments()
  File "pepatac.py", line 36, in parse_arguments
    required=["input", "genome",

[2019-09-20 16:22] nsheff commented on #77
are you using pypiper version 0.12.1?
If not I think try upgrading pypiper:

[code]

[2019-09-21 05:37] qiaowei-vvjoe commented on #77
@nsheff
yes.After I upgraded piper it succeed.
But when I try to test the sample use the following code something wrong with the attachment of PEPATAC_log.md.
~/configure/python3/bin/python3.6 pipelines/pepatac.py
--single-or-paired paired
--prealignments rCRSd human_repeats
--genome hg38
--sample-name test1
--input examples/data/rawdata/test1_r1.fastq.gz
--input2 examples/data/rawdata/test1_r2.fa

[2019-09-21 09:38] qiaowei-vvjoe commented on #77
@jpsmith5 @nsheff
I also read https://github.com/databio/pepatac/issues/50 and checked GENOMES="/mnt/disk1/qiaowei/pepatac_tutorial/genomes/" in .bashrc.
I don't know why it cannot find the 'hg38' index at: ${GENOMES}/hg38/indexed_bowtie2.
Besides, in issues50 what is the --bind means I can't find it in PEPENV docs.
I haven't use singularity but download software one by one.
Thank you so much in a

[2020-02-13 08:12] mbardus opened #124 "pararead import error"
When I run the pepatac on the test example I get the errors:
1. ImportError: cannot import name add_logging_options
2. ImportError: cannot import name logger_via_cli

changing the lines:
from pararead import add_logging_options
from pararead import logger_via_cli

into:
from logmuse import add_logging_options
from logmuse import logger_via_cli

it works.

[2020-02-13 08:19] mbardus opened #125 "Object arrays cannot be loaded when allow_pickle=False"
When I run the pepatac on the test example I get this error in bamQC.py:
"Object arrays cannot be loaded when allow_pickle=False"
on the line:
chrStats = np.load(temp_files[i] + '.npy')

changing into:
np_load_old = np.load
np.load = lambda *a,**k: np_load_old(*a, allow_pickle=True, **k)
chrStats = np.load(temp_files[i] + '.npy')
np.load = np_load_old

it works.
I have numpy version 1.16.6 and pyt

[2020-02-13 09:50] mbardus opened #126 "TypeError: descriptor 'splitlines' requires a 'str' object but received a 'unicode'"
When I run the pepatac on the test example I get this error in pepatac.py:

TypeError: descriptor 'splitlines' requires a 'str' object but received a 'unicode'

in this line:

ftList = str.splitlines(ftList)

it works if I change into:

ftList = unicode.splitlines(ftList)

[2020-02-23 06:05] gbloeb commented on #124
I have similar errors:

### Calculate NRF, PBC1, and PBC2 (02-22 21:57:54) elapsed: 63.0 _TIME_

Target to produce: `/wynton/home/reiter/gloeb/pepatac_test/test1/QC_hg38/test1_bamQC.tsv`

<pre>
Traceback (most recent call last):
  File "/wynton/home/reiter/gloeb/pepatac_tutorial/tools/pepatac/tools/bamQC.py", line 17, in <module>
    from pararead import add_logging_options, ParaReadProcessor
Impo

[2020-02-24 16:26] nsheff commented on #126
I believe this is a python2 error. See also https://github.com/databio/pepatac/issues/116#issuecomment-503319578

Fixed in PR #118.

[2020-02-24 16:47] nsheff opened #127 "Updating to refgenie"
PEPATAC is not using refgenie correctly (it's still based on the old system I think).

[code]

[2020-02-24 16:54] nsheff commented on #127
actually I believe this is solved on dev.

@jpsmith5  That dev branch is really getting stale, we need to do a release of pepatac.

[2020-02-24 16:55] jpsmith5 commented on #127
Agreed. Will make testing the stability of dev a priority to get a release out as quickly as possible.

[2020-02-24 17:00] #124 closed

[2020-02-24 17:00] #125 closed

[2020-02-24 17:01] nsheff commented on #126
This is now fixed in master.

[2020-02-24 17:01] #126 closed

[2020-02-24 17:13] nsheff commented on #121
Sorry I missed this issue earlier.

If those sequences are present in the genome many times, then you won't be able to reliably align them anyway. If you require unique alignments they will show up as unmapped reads; if you allow multimapping you'll randomly assign them and they won't be much use anyway. If I recall correctly, in my hands, aligning to Alu eliminated some artifacts.

But it's easy

[2020-02-24 17:13] #121 closed

[2020-02-24 17:54] nsheff opened #128 "Missing refgenie assets"
On dev I get this error:

[code]

What's the status of these assets?

[2020-02-25 23:04] nsheff opened #129 "refgenconf object type is changed by attmap"
When you try to stick a refgenconf object in as an attribute of an attmap, it's losing its status as a refgenconf object.

[2020-02-25 23:05] nsheff commented on #129
this is a hack workaround --we don't use it as an attribute in attmap.

But there's a bigger-picture problem here that needs to be fixed, probably in attmap.

[2020-02-25 23:06] nsheff opened #130 "checks are outdated"
With the update to refgenie, the test for fasta files is now failing... and I'm not really sure what this is accomplishing. I've commented it out here and then the pipeline will run, but I wanted to make sure this is OK to remove.

Is there a reason we need to confirm existence of this file, and if so, can we update to using refgenie to do that?

[2020-02-26 11:49] stolarczyk commented on #129
it looks like it does _not_ change its class in an interactive session:

[code]

[2020-03-03 18:44] jpsmith5 commented on #130
Using `refgenie` exclusively now.

[2020-03-03 18:44] #130 closed

[2020-03-03 18:46] jpsmith5 commented on #129
Obtaining assets is changed at this point, so I don't believe this is relevant to this pipeline anymore. But happy to reopen if necessary.

[2020-03-03 18:46] #129 closed

[2020-03-03 18:49] jpsmith5 commented on #128
TSS annotation is fixed to use the proper `refgenie` asset.

Blacklist lives as an optional item at the moment, but it probably could become another `refgenie` managed asset. Would just be a downloaded file that then get's managed by it.

Will add it to `refgenie`.

[2020-03-03 19:05] jpsmith5 commented on #119
No longer an issue

[2020-03-03 19:05] #119 closed

[2020-03-03 19:10] jpsmith5 commented on #109
Some of these are now removed. Alternatively, the `--lite` option resolves the remainder.

[2020-03-03 19:10] #109 closed

[2020-03-03 19:10] #114 closed

[2020-03-03 19:20] jpsmith5 commented on #108
R packages that can be wrapped up are now in a single PEPATAC R package. Other "extras" are also now eliminated.

[2020-03-03 19:20] #108 closed

[2020-03-03 19:20] jpsmith5 commented on #107
rerunning appears to be functioning correctly now (that is, not repeating unnecessary step)

[2020-03-03 19:20] #107 closed

[2020-03-03 19:22] jpsmith5 commented on #96
This should be resolved. Closing for now.

[2020-03-03 19:22] #96 closed

[2020-03-03 19:28] #94 closed

[2020-03-04 16:44] jpsmith5 commented on #93
Package written. Submitting should likely move to a separate issue/tracking system.
Summarizer's can't use the package due to how `looper` handles it. It can only receive input from the project_config.yaml file.  Right now there's no way to add arguments to looper summary scripts to get around that.

[2020-03-04 16:45] jpsmith5 commented on #97
This is moved over to https://github.com/databio/smugwig and it's still in the works.  Multiple issues keep cropping up.

[2020-03-04 16:45] #97 closed

[2020-03-04 16:46] nsheff commented on #97
what is your plan for smugwig?

[2020-03-04 16:47] nsheff commented on #93
what do you mean?

I don't know exactly what I meant here...

[2020-03-04 16:51] jpsmith5 commented on #93
In the sense, I don't think we should hold up the pipeline to get an R package on CRAN I suppose, same as for peppro. Maybe keep a separate issue open for ultimately moving the package outside and getting it polished enough to be there.

I think we wanted to minimize the number of scripts in the tools/ directory.  So could we put the summary plot functions in the package and have looper call them.

[2020-03-04 16:51] jpsmith5 commented on #97
I would like to get it working, but the last time I put a big push in for each problem solved, I would uncover a new one. If I recall, mostly with things getting out of sync.

[2020-03-04 21:36] jpsmith5 commented on #42
For now, would suggest we keep the checks out of the pipeline. If a user runs in to this issue, they can [track down the fastq_repair tools](https://github.com/linsalrob/fastq-pair) that exist for this purpose.

[2020-03-04 21:36] #42 closed

[2020-03-04 21:46] jpsmith5 commented on #41
As a final follow up, just re-ran the mitoReads files. They aligned to rCRSd...Now on bowtie2 2.2.9, So maybe an older bowtie2 issue as we suspected that is now resolved. Closing.

[2020-03-04 21:46] #41 closed

[2020-03-04 22:58] nsheff opened #131 "command_template"
Need new command_template section in pipeline interface.

[2020-03-05 13:27] nsheff opened #132 "alignment repeats"
This command is repeating every time I run the pipeline:

[code]

It is **not recognizing that the target should be already completed**. It should skip the step if it's already been run.

[2020-03-05 14:39] jpsmith5 commented on #132
The target unmap file should be getting compressed following alignment.  If it fails that step, it will then always be rerunning this step.  Couldn't compress before because subsequent prealignments would need to uncompress first each time.  Can confirm c49c734 resolves it before attempting anything else.

[2020-03-05 14:40] nsheff commented on #132
In that case, those should be tied into one `run` call shouldn't they?

[2020-03-05 14:41] jpsmith5 commented on #132
Tthe prealignment is a separate function that returns the unmap files. It loops through all prealignments. Then it compresses.  If you compress within the prealignment function, it would have to uncompress as it looped through all prealignments.

[2020-03-05 14:41] nsheff commented on #132
I'm lost, sorry.

[2020-03-05 16:23] nsheff opened #133 "make bamqc less verbose"
I think we've brought this up before, might be a required pararead  thing? can we make this less verbose?

[code]

[2020-03-05 16:38] jpsmith5 commented on #133
Done: Most recent pararead also reduces the Discarding ... to debug only.

[2020-03-05 16:38] #133 closed

[2020-03-05 16:41] jpsmith5 commented on #132
Working as intentded for now, but could be improved in relation to handling of compressed versus uncompressed target files.  See thoughts at databio/pypiper#171.

[2020-03-05 16:41] #132 closed

[2020-03-06 14:42] nsheff opened #134 "macs2 error"
the first paqc sample yields this error:

[code]

not sure if this is a macs2 problem or what..,.

this is using a singularity container

[2020-03-06 14:45] nsheff commented on #134
I tried rebuilding the container, but it didn't work.

we are using the latest biocontainer.

[2020-03-06 16:09] jpsmith5 commented on #134
I just ran the test sample through with the `--strict` option and it used MACS2 from the container without issue.

Have to update the bulker manifest to do so as follows:
[code]

I also create a python virtualenv first before running everything through:
[code]

Install required python (sans MACS2)
[code]

Load and activate bulker
[code]

Run the tutorial sample
[code]

[2020-03-06 16:12] jpsmith5 opened #135 "bulker problem with bedToBigBed"
bedToBigBed is called by R script. So it can't call the bedToBigBed container...Not sure how to go about resolving this one, short of adding bedToBigBed to the rpipe container?

[code]

[2020-03-06 19:28] nsheff commented on #135
yep that's what we'd have to do.
Or, make the call outside of R from within the pipeline instead.

[2020-03-09 13:01] jpsmith5 commented on #128
Blacklist is now a live recipe in dev; see https://github.com/databio/refgenie/commit/7d54d0bb6bd6460b9bf251a91c99855964b842f2

[2020-03-09 13:01] #128 closed

[2020-03-09 13:04] nsheff commented on #128
also must make sure it's on refgenomes.databio.org though.

[2020-03-09 13:05] jpsmith5 commented on #128
Ah. Yes. Will do.

[2020-03-09 14:53] stolarczyk commented on #128
done: http://refgenomes.databio.org/v2/asset/hg38/blacklist/splash?tag=default

[2020-04-06 14:05] stolarczyk opened #137 "switch to new refgenconf path retrieval strategy"
https://github.com/databio/pepatac/blob/eecc92f74e31c4a5c6c10c4719c5a3500bba63ef/pipelines/pepatac.py#L393

`RefGenConf.get_asset` does not work here with the latest `refgenconf`:

[code]

need to switch to `RefGenConf.seek`

[2020-04-20 20:46] nsheff commented on #135
did this get solved?

[2020-04-20 20:47] nsheff opened #138 "Alignment fails if no prealignments are specified"
Here, I specified no pre-alignments.

Is it possible there's some zip/unzip step that is basically assuming you have at least 2 prealignment?

### Prealignments (04-20 16:39:28) elapsed: 134.0 _TIME_

You may use `--prealignments` to align to references before the genome alignment step. See docs.

### Compress all unmapped read files (04-20 16:39:28) elapsed: 0.0 _TIME_

### Map to genome (04-20 1

[2020-04-20 20:48] nsheff commented on #138
btw, the same command worked when I specified a single pre-alignment.

[2020-05-17 22:25] stolarczyk opened #139 "invalid Project.looper.output_dir reference"
https://github.com/databio/pepatac/blob/c18f50e6644cb5b116f982d1a61aa86dd0dbe239/PEPATACr/R/PEPATACr.R#L2341

After recent looper change, where we moved _required_ `Project.looper.output_dir` attribute, lines like the one above are no longer valid.

Currently, looper user can set the output directory via:
 - `Project.looper.all.output_dir` or `Project.looper.all.output-dir`
 - `Project.looper.<com

[2020-05-18 12:21] stolarczyk commented on #139
best solution I can come up with is adding the output_dir to the looper namespace and simply use it in the command template to pass it to the summarizer script.

But, currently we have:
 - output_folder -- parent output folder provided in project.looper.output_folder
 - sample_output_folder -- A sample-specific output folder ({output_folder}/{sample_name})

so adding output_dir will be confusing,

[2020-05-18 12:32] jpsmith5 commented on #139
Yeah that's challenging. Since project level runs were always in the same directory previously this logic made sense, but now that the project output could be in a different location I may need to rethink the whole process. It still has to know the location of all sample output, maybe instead I derive a project level output from sample level output by stripping directories?

[2020-05-22 00:12] nsheff commented on #139
can this be closed now? we should use `looper.results_subdir`, right?

wait, how is this different from `looper.sample_output_folder` ?

[2020-05-22 00:15] stolarczyk commented on #139
https://github.com/pepkit/looper/blob/dev/docs/variable-namespaces.md#4-looper

looper.sample_output_folder = looper.results_subdir/sample.sample_name

[2020-05-22 00:22] nsheff commented on #139
duh! got it! sorry, mental lapse... so @jpsmith5 are we good to close this?

- `output_dir` -- parent output directory provided in `project.looper.output_dir` in the project configuration file
- `results_subdir` -- the path to the results directory. It is a sub direcotry of `output_dir` called `project.looper.results_subdir` or "results_pipeline" by default
- `sample_output_folder` -- A sample-spe

[2020-05-26 19:37] #131 closed

[2020-05-26 19:37] #137 closed

[2020-07-12 19:16] hugokitano opened #142 "File not found during bowtie2 step"
I ran pepatac on mouse bulk atac seq for the first time, and I'm running into an issue where a file is not found in an intermediate step.

[code]
I took a look in this directory, and saw that the trimmed fastq does exist, but it is not gzipped.
![image](https://user-images.githubusercontent.com/8139124/87254724-6b43b200-c439-11ea-85d2-a1fc66d16ac7.png)

My log is attached. Thank you!

[PEPATAC_log

[2020-07-13 14:18] jpsmith5 commented on #142
Hi @hugokitano . Found what I believe is the issue. Give the updated version a try. It should resolve your error.  If not, let us know and I'll dive back in. Thanks for working with us!

[2020-07-13 14:38] jpsmith5 commented on #135
Converted this approach to python instead of R.

[2020-07-13 14:38] #135 closed

[2020-07-13 14:39] #127 closed

[2020-07-13 14:40] jpsmith5 commented on #138
Fixed with 10e75d1

[2020-07-13 14:40] #138 closed

[2020-07-13 14:41] jpsmith5 commented on #139
Should be resolved. Closing for now.

[2020-07-13 14:41] #139 closed

[2020-07-13 14:54] #102 closed

[2020-07-13 14:56] #101 closed

[2020-07-13 14:58] #92 closed

[2020-07-13 14:59] #84 closed

[2020-08-05 06:34] Zhuxitong opened #144 "Bigwig track normalized or not?"
Hi,

The nice tools PEPATAC can produce BigWig signal tracks: nucleotide-resolution ("exact cut") signal and smoothed signal. I believe the smoothed signal will be more proprely to view in Genome broswer like IGV. However, do these tracks including the raw read depth or normalized signal? I mean if we can directly compare the tracks in IGV from different samples?

Any suggestions would be very gra

[2020-08-05 11:01] jpsmith5 commented on #144
Hey @Zhuxitong, with the last 2 releases it *does* normalize by read count by default.  This can be stopped with the `--no-scale` option, which would produce the raw read version.  Alternatively, if you use seqOutBias, `--sob`, it scales by the expected/observed cut frequency based on the mappability of the genome using a kmer of the length of the reads.  To use seqOutBias then, you'd need to have

[2020-08-05 11:14] Zhuxitong commented on #144
Thanks @jpsmith5 I will feel comfortable to compare my samples :)

[2020-08-05 11:34] jpsmith5 commented on #144
Welcome :smiley:

[2020-08-05 11:34] #144 closed

[2020-08-07 18:06] nsheff opened #145 "add bwa option for aligner"
We have a request from a collaborator to add an option to use bwa_mem to align, instead of bowtie2.

[2020-08-30 03:58] yangmqglobe opened #146 "peak reduce script can't not get output file arg property"
R script `tools/PEPATAC.R` ’s `reduce` command can't get the output file property, when you specify the `-o` option, it will still get the `output` as `NULL` in the code, seems like that you can't set the `opt_get`'s `default` as `NULL` or you will always get `NULL` as return.

[2020-08-31 16:45] #146 closed

[2020-08-31 17:17] jpsmith5 commented on #145
This is all set.

[2020-08-31 17:17] #145 closed

[2020-09-01 06:29] yangmqglobe opened #148 "Remove duplicates first or filter low mapping quality first?"
So I've check this by switch these two step, the result is
[code]

Obviously the result is different. But why? Is this because that a low mapping quality reads paired with a high mapping quality reads? Should we treat these reads as unpaird and filter out before call peaks?

[2020-09-01 18:08] gbloeb opened #149 "Warning about genome assets"
I get following errors from all bowtie indexes that I have installed with refgenie:

/wynton/home/reiter/gloeb/.local/lib/python3.7/site-packages/refgenconf/refgenconf.py:362: RuntimeWarning: For genome 'rCRSd' the asset 'bowtie2_index.None:default' doesn't exist; tried: bowtie2_index/default/rCRSd,/wynton/home/reit$
  warnings.warn(msg, RuntimeWarning)
/wynton/home/reiter/gloeb/.local/lib/python3

[2020-09-01 18:23] nsheff commented on #149
what do you get when you type `refgenie list` ? are you sure your `REFGENIE` variable is set correctly?

[2020-09-01 19:07] gbloeb commented on #149
[gloeb@dev2 ~]$ refgenie list
Server subscriptions: http://refgenomes.databio.org
Local genomes: hg38, human_repeats, mm10, mouse_chrM2x, rCRSd
Local recipes: bismark_bt1_index, bismark_bt2_index, blacklist, bowtie2_index, bwa_index, cellranger_reference, dbnsfp, dbsnp, ensembl_gtf, ensembl_rb, epilog_index, fasta, fasta_txome, feat_annotation, gencode_gtf, hisat2_index, kallisto_index, refgene_an

[2020-09-01 20:33] nsheff commented on #149
Ok -- if using bulker, is 'REFGENIE' in the list of environment variables that are passed to the bulker environment, specified in the bulker config file (in $BULKERCFG)?

for example, this is what I have in my bulker config:

[code]

[2020-09-01 22:24] gbloeb commented on #149
I get the same error whether or not I use bulker.  And when I echo $REFGENIE in my script I get the correct value, so I don’t think it’s a REFGENIE problem.
Even with these errors, the pipeline runs just fine.

Thanks for the suggestions,
Gabe

[2020-09-02 01:02] nsheff commented on #149
The pipeline shouldn't be able to do the alignments if it can't find the bowtie2 indexes. what do you mean it runs just fine?

Ok, can you do it from the CLI: `refgenie seek hg38/bowtie2_index`?

`refgenie seek rCRSd/bowtie2_index`

[2020-09-02 01:12] nsheff commented on #149
is it possible that these refgenie assets are stored on a filesystem that is visible to your head node, but not to the SGE compute nodes where the work is being done?

[2020-09-02 01:33] stolarczyk commented on #149
what version of refgenie and refgenconf are you using?

[code]

[2020-09-02 11:39] jpsmith5 commented on #149
Just to confirm this is not isolated, I also see this internally.

If I check log files I see the same runtime warning, but it depends on the genome:
[code]
But it's just a warning, and if finds the correct asset without issue...

If you look at the REFGENIE config, it does seem like TAIR10 is listed differently than for genomes where I do not see this message. For example:
[code]
So here, `bowtie

[2020-09-02 11:42] jpsmith5 commented on #149
Hmm, this may be a carry over from changes between `rgc.seek` and `rgc.get_asset` functionality within the pipeline. Let me investigate real quick.

[2020-09-02 12:00] jpsmith5 commented on #149
Okay. I still think it's something different about how those genomes are stored. I don't see anything about rgc.seek that I should be doing differently from what I can tell.  And, like I shared, `hg38` doesn't throw the error and it's the only one without a separate bowtie2_index entry in the REFGENIE file.

[2020-09-02 12:25] stolarczyk commented on #149
For seek_key storage, because this is what you're referring to, I think: hg38 in this case stores the old style seek_key for bowtie2_index, which points to the entire tag directory (`.`):

[code]

whereas mm10 stores the updated, correct seek_key which does not point to a file or directory, but to a path that is accepted by the actual Bowtie2 aligner

[code]
So in this case the ones that emit warn

[2020-09-02 13:22] #149 closed

[2020-09-02 13:23] stolarczyk commented on #149
@gbloeb, update to `refgenconf==0.9.3` for this warning to go away.

[2020-09-02 14:00] nsheff commented on #149
Also, just to add -- you're right that it was working correctly before, and these were just erroneous warnings. So, it is indeed just a messaging issue.

Thanks for reporting this!

[2020-09-02 17:58] jpsmith5 commented on #148
Okay. So to confirm I follow, here's what you did:

Version1 (same as PEPATAC): For `SRR7866359_filter_dedup.bam` you 1) aligned, 2) removed low quality reads, 3) removed duplicates
Version2: For `SRR7866359_dedup_filter.bam` you 1) aligned, 2) removed duplicates, 3) removed low quality reads

--

I grabbed SRR7866359 and performed the same. I then intersected the two bam files with `bedtools inte

[2020-09-02 20:28] gbloeb opened #150 "Incorrectly reported number of duplicates"
Pepatac reports that all reads are duplicates b/c it appears that it is not appropriately grabbing the data from the samblaster
dedup_metrics_log.txt.

Dedup Metrics Log
samblaster: Version 0.1.26
samblaster: Inputting from stdin
samblaster: Outputting to stdout
samblaster: Loaded 66 header sequence entries.
samblaster: Found            0 of   14023842 (0.000%) total read ids are marked paired yet

[2020-09-02 20:43] gbloeb opened #151 "Normalization Rscript failed"
Normalization R script failed:

Full log attached, but relevant part:

[code]

Attaching /wynton/home/reiter/gloeb/REFGENIE/mm10/fasta/default/mm10.chrom.sizes
[mm10.chrom.sizes.txt](https://github.com/databio/pepatac/files/5164702/mm10.chrom.sizes.txt)

 and the beginning of:
/scratch/179994.1.long.q/d4_nodnase_nobulker/peak_calling_mm10/d4_nodnase_nobulker_peaks_fixedWidth.narrowPeak
[d4_nodnase

[2020-09-02 20:57] jpsmith5 commented on #150
Huh that's strange. I don't see this in my hands.  What OS are you running on?  I do see my samblaster version is 0.1.24, but the output looks the same.  Here's an example sample in my hands:

[code]

Then, with that calll:
[code]

I'll test with the 0.1.26 version of samblaster output, maybe there are differences in the white space in that version to the one I have.

[2020-09-08 16:03] jpsmith5 commented on #150
Okay. Updated changes correctly parse version 0.1.26 from samblaster. So give it a go with the latest release and see if it looks correct on your end.

[2020-09-08 16:03] #150 closed

[2020-09-12 14:15] hiroyukikato911 opened #152 "Error in single end fastq file"
Hi,

Thank you for this wonderful pipeline.
However, I recently found when performing with **single end fastq file**, pipeline encounters error and stop processing as seen in attached file.
[error.log](https://github.com/databio/pepatac/files/5212807/error.log)

Target file comes with blank and stops.
`Target` to produce: `.gz`

Paired-end file works completely fine.
I'm using Docker and macOS Hig

[2020-09-14 18:52] jpsmith5 commented on #152
Hmm. That is strange. I just successfully ran an example single-end sample successfully directly and using containers (via Singularity though not Docker).

I do see that you're running an older version of the pipeline -- "`*     Pipeline version:  0.8.4`"

Is it important you continue using that version for a particular project? Otherwise I'd suggest updating to the most recent release as this may

[2020-09-14 18:54] jpsmith5 commented on #151
Hey @gbloeb. Sorry this slipped past me. I believe this is related to your other issue (#146). My initial fix caused this message but I updated again and this should be resolved. I apologize for not passing that along to you.  Try the most recent release and see if this error disappears. If not please let me know and I'll jump on it.

[2020-09-14 19:03] jpsmith5 commented on #122
Did you have any more luck with this @qiaowei-vvjoe? I can run your command, modified for my file system successfully.

From the pepatac parent folder:
[code]

Which version of the pipeline were you attempting here? Most recent version should be 0.9.5.

[2020-09-15 12:46] hiroyukikato911 commented on #152
Hi,

Thank you for your reply!
I decided to update pipeline version just as you recommend.

However,  installing seems to be obstacle for me.

I followed the steps just as recommended here.
http://pepatac.databio.org/en/latest/tutorial/
http://pepatac.databio.org/en/latest/install/

Namely, I cloned pepatac
[code]
I installed refgenie and downloaded reference genome
[code]

Installed bulker and lo

[2020-09-15 13:05] jpsmith5 commented on #152
Hey @hiroyukikato911, I'm looking into this now and will let you know briefly!

[2020-09-15 20:40] jpsmith5 commented on #122
If you have another issue in this line of questioning please let us know @qiaowei-vvjoe

[2020-09-15 20:40] #122 closed

[2020-09-19 13:39] qiaowei-vvjoe commented on #122
I am very sorry that I have left the place where I worked last year without solving this problem , but still thank you very much for your help.I will test it again according to your command.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "databio/pepatac"

[2020-09-21 15:03] jpsmith5 commented on #152
Hey @hiroyukikato911, sorry for the long delay. You're right, it is a relatively straightforward fix, but it also prompted me to improve error messaging in just such a scenario.  I believe you are missing an environment variable that is pointing to your picard.jar file.  The pipeline is expecting to utilize a $PICARD environment variable that may look like so: `/home/user/local/bin/picard.jar`.  I

[2020-09-21 15:18] jpsmith5 commented on #142
Presumably this is resolved as expected. Closing for now.

[2020-09-21 15:18] #142 closed

[2020-09-21 17:21] jpsmith5 commented on #99
This is resolved in current version.

[2020-09-21 17:21] #99 closed

[2020-09-22 12:44] jpsmith5 commented on #76
Done

[2020-09-22 12:44] #76 closed

[2020-09-22 12:45] jpsmith5 commented on #73
Function exists for now. Will reopen in future if changes necessary.

[2020-09-22 12:45] #73 closed

[2020-09-22 13:34] jpsmith5 commented on #86
The pipeline defaults to variableStep now which achieves this result

[2020-09-22 13:34] #86 closed

[2020-09-22 14:20] #90 closed

[2020-09-22 14:39] jpsmith5 commented on #112
Closing this for now, but you can [read a post from GATK for information regarding read group headers](https://gatk.broadinstitute.org/hc/en-us/articles/360035532352) for GATK.

[2020-09-22 14:39] #112 closed

[2020-09-22 15:34] #117 closed

[2020-09-22 17:46] jpsmith5 commented on #134
Tested again with most recent crate and bulker updates with this sample and no issues. Can reopen if similar issue arises in the future.

[2020-09-22 17:46] #134 closed

[2020-09-28 13:33] jpsmith5 commented on #151
If there's still an issue please let me know and I'll reopen. Based on testing it should be resolved.

[2020-09-28 13:33] #151 closed

[2020-09-28 13:34] jpsmith5 commented on #152
If there's still an issue let us know and we'll reopen, but it should be resolved based on prior comments.

[2020-09-28 13:34] #152 closed

[2020-09-28 13:53] hiroyukikato911 commented on #152
Hi,

Thanks for your help!
Also, I apologize for the delay.
I tried your solution but unfortunately didn’t work.
Perhaps other thing I might have mistaken during the installing process, so
I’m planning to retry some other solution. Since I didn’t have enough time
to dig into it, I would try again and let you know if it worked.

Thanks again for your kindness!

Best regards,
Hiroyuki

2020年9月28日月曜日

[2020-10-05 15:02] josruirod opened #153 "ImportError: cannot import name 'get_logger' from 'peppy.utils'"
Hi.
Thanks for all the work and development. I'm trying to implement the pipeline in an HPC. I think I have installed everything (except for seqoutbias, I'm finding errors when compiling), but when I try to run the example as suggested in the instructions:
`looper run -d examples/test_project/test_config.yaml`

I'm getting the error:
ImportError: cannot import name 'get_logger' from 'peppy.utils'

[2020-10-05 15:53] stolarczyk commented on #153
could you report what versions of peppy and looper Python packages you're using?
[code]

[2020-10-05 17:00] josruirod commented on #153
Sure thank you

`loopercli==0.12.6`
`peppy==0.30.3`

[2020-10-05 17:02] stolarczyk commented on #153
can you try uninstalling `loopercli` and installing `looper==1.2.1`?

[2020-10-05 17:06] josruirod commented on #153
I can confirm the error I reported is now gone, thank you!

[2020-10-05 17:10] stolarczyk commented on #153
that was actually a problem on our end, which is resolved now on dev branch. Thanks for reporting!

[2020-10-05 17:11] jpsmith5 commented on #153
Hah. Didn't mean to step on your toes @stolarczyk. Was just seeing same issue.

[2020-10-05 17:14] stolarczyk commented on #153
what timing! 🤭

[2020-10-05 17:14] #153 closed

[2020-10-07 16:22] josruirod opened #154 "Help with the extended tutorial"
Hi and thanks for the work and the support.

I want to use the pipeline in an HPC environment and I think I have already followed the installation instructions and the instructions of the extended tutorial in [http://pepatac.databio.org/en/latest/tutorial/](url)
However, when I run `looper run examples/tutorial/tutorial.yaml` as instructed, I'm getting the error:
`Config file path isn't a file: ${

[2020-10-07 19:44] jpsmith5 commented on #154
Hey @josruirod,

If you [run through the install guide prior to the tutorial](http://pepatac.databio.org/en/latest/install/), you'll see the area about setting up Refgenie.
[code]

Have you set up a REFGENIE environment variable already?

Since I don't see it being populated in that error message, I have a feeling that hasn't been set yet.

[2020-10-08 11:38] josruirod commented on #154
Hi,
Thank you very much for the help! You were right and this was the cause. My fault. I have now set up refgenie and the pipeline examples runs without that error.

Thank you

[2020-10-08 11:38] #154 closed

[2020-10-08 12:47] jpsmith5 commented on #154
You're welcome and thanks for the note regarding samtools. I will look right into that.

[2020-10-08 15:03] jpsmith5 commented on #154
Hey @josruirod, could you share the error you experienced with samtools v1.11? I have successfully run some test cases through with the updated samtools and didn't experience an error.  I'm running some more cases through now, but just curious if you could point out what it is you saw.

[2020-10-08 15:03] jpsmith5 opened #155 "samtools v1.11 compatibility?"
Hey @josruirod, could you share the error you experienced with samtools v1.11? I have successfully run some test cases through with the updated samtools and didn't experience an error.  I'm running some more cases through now, but just curious if you could point out what it is you saw.

_Originally posted by @jpsmith5 in https://github.com/databio/pepatac/issue_comments/705631368_

[2020-10-08 15:03] jpsmith5 commented on #154
Also moved this over to a new issue #155

[2020-10-08 16:02] josruirod commented on #155
Hi

Sure, it was when I ran the example, in the bowtie command that is then piping into samtools, there is a samtools sort with the parameter -T. It was giving an error that -T was not recognized and apparently it keep working, but I killed it after couple of hours because it was taking too long and the instructions mentioned less time.
Same conditions, after changing samtools version to 1.10 work

[2020-10-08 17:46] jpsmith5 commented on #155
Okay, great. I'll look specifically at that step. Don't worry about reproducing at the moment, but I may reach back out to you if I can't identify the issue.

[2020-10-08 19:46] jpsmith5 commented on #155
Well @josruirod, if you have the flexibility and time to see if you can reproduce those errors that'd be great. It's been working across multiple samples and settings for me without any messages regarding the `-T` parameter. Samtools sort itself also still shows a `-T` as one of the possible parameters so I'm admittedly confused.

[2020-10-09 07:53] josruirod commented on #155
HI
I'm sorry, but indeed everything is working also with samtools 1.11. I must have confused something, my guess is that I usually manage other older versions of samtools and I may have confused my PATH. I'm sorry for the confussion! But I can also confirm with samtools 1.11 everything is working.

Please accept my apologies and thanks agian for the support

[2020-10-12 10:59] jpsmith5 commented on #155
No problem. Just wanted to make sure we figured that out. Thanks for working with me.

[2020-10-12 10:59] #155 closed

[2020-10-14 12:11] josruirod opened #156 "Help with PEPATAC and non-model reference. "Required assets not existing""
Hi
I've been testing out PEPATAC and it looks awesome, thanks.
I'm now trying to run it with some datasets of a non-model organisms. I would say I have build all the assets with refgenie, including tallymer_index.

However, within pepatac I'm getting the following error in the "### Remove duplicates and produce signal tracks":

Starting cleanup: 4 files; 3 conditional files for cleanup

Then I thi

[2020-10-14 12:18] nsheff commented on #156
can you show the output of `refgenie list` ? And what genome are you using?

[2020-10-14 14:02] josruirod commented on #156
Ok, thanks

output of `refgenie list`:

Local genomes: AgamP
Local recipes: bismark_bt1_index, bismark_bt2_index, blacklist, bowtie2_index, bwa_index, cellranger_reference, dbnsfp, dbsnp, ensembl_gtf, ensembl_rb, epilog_index, fasta, fasta_txome, feat_annotation, gencode_gtf, hisat2_index, kallisto_index, refgene_anno, salmon_index, salmon_partial_sa_index, salmon_sa_index, star_index, suffixerato

[2020-10-14 16:51] jpsmith5 commented on #156
Hey @josruirod,

I see you have a default tallymer_index asset. The default is for 30. It looks like based on messaging you need one for 75.  You can check out the [seqOutBias documentation for more information.](http://pepatac.databio.org/en/latest/sob/) But basically, you'll need to generate a tallymer index for 75bp.

`refgenie build AgamP/tallymer_index:75 --params mersize=75`

Believe that wo

[2020-10-15 07:10] josruirod commented on #156
Hi, I can confirm it's working now. Thanks again for the help

[2020-10-15 07:10] #156 closed

[2020-10-15 09:45] josruirod opened #157 "MACS2 step failing because the input bed file does not have strand info?"
Hi, and thanks for the support.

I'm struggling to get pepatac working for the first time with our own samples. Almost everything seems to be working now (thanks for the help in previous steps!). But I have now encountered an error with MACS2.
I'm getting the error:

And indeed, the file that macs2 is trying to use in BED format is:

And the head is:

chr2L	1124	1125	N		2.177074836
chr2L	1130	1131

[2020-10-15 13:24] jpsmith5 commented on #157
Could you share your entire PEPATAC_log.md file? You'll need to change the extension to `.txt` for github. But then you should just be able to drag the file into the comment box to share it.

[2020-10-15 17:48] josruirod commented on #157
Sure thing, thanks. It may contain several calls to the pipeline with different testing, but the last ones are the ones reaching macs2 and giving that error.

[PEPATAC_log.txt](https://github.com/databio/pepatac/files/5386788/PEPATAC_log.txt)

[2020-10-16 15:54] jpsmith5 commented on #157
Hey @josruirod, this turned out be where I had accidentally written over my own solution to this problem from the past. Just released a new version (0.9.7) of the pipeline that resolves this. Sorry for the additional challenge.

You can add the `-R` command to recover the pipeline run instead of starting from scratch. You will have to manually delete the current `*_shift.bed` file. So, `rm /scratc

[2020-10-16 17:46] josruirod commented on #157
No problem at all, glad to help. I'll test the new version and let you know, thanks again for the support.

[2020-10-17 20:10] josruirod commented on #157
Hi, I have installed the new version (0.9.7, checked with pepatac.py --version), and it seems to run ok. However, again in the macs2 step, something it's wrong. I'm getting:

Failure reason: Subprocess returned nonzero result. Check above output for details
Traceback (most recent call last):
  File "/home/ipbln/jlruiz/bin/pepatac/pipelines/pepatac.py", line 2658, in <module>
    sys.exit(main())

[2020-10-17 22:11] jpsmith5 commented on #157
Hey @josruirod. Yeah you're right. Looks like MACS2 just failed mid-step.

What version of macs2 are you currently running? e.g. `macs2 --version`

If you try running the macs2 command manually, i.e. just copying and pasting the same command as the pipeline, what happens?

e.g.:
[code]

Just curious if it's a macs2 problem potentially, a pipeline issue, or maybe a local computing issue.  I've run

[2020-10-18 07:30] josruirod commented on #157
Hi,
MACS2 is 2.2.7.1, and if I run the command separately, it starts to run but then suddenly

Killed

Weird. The `test1_shift.bed` seems ok. Which macs2 version are you using? Thanks

[2020-10-18 11:42] jpsmith5 commented on #157
Hey, that's the version I'm running as well. That seems suggestive of it being killed off by a resource handler. I don't normally see macs2 consume enormous amounts of memory, but that would be a reason for it to be killed. Are you able to test that command in an environment with copious amounts of memory? I'll keep looking into additional possibilities too.

[2020-10-18 17:09] nsheff commented on #157
That looks like it's run on a head node of a cluster, which kills it when the memory exceeds the limit. are you using SLURM by chance? you'd need to do this test in an allocation.

[2020-10-19 09:39] josruirod commented on #157
Hi and thanks for your help. I'm not sure why and I've never seen MACS2 require much memory either, but indeed I can confirm that allocating more memory seems to solve the problem and everything is running fine.

Thanks again for the help

[2020-10-19 11:22] jpsmith5 commented on #157
:+1: If anything else pops up let us know.

[2020-10-19 11:22] #157 closed

[2020-10-29 10:22] josruirod opened #158 "Help using pepatac with a non-reference genome"
Hi again,
I'm trying to set up pepatac with a genome not present in ensembl. Pepatac is working great, but I'm need of some final help to get it fully working.
I have use refgenie to build the recipes and this is the output of `refgenie list`

Local recipes: bismark_bt1_index, bismark_bt2_index, blacklist, bowtie2_index, bwa_index, cellranger_reference, dbnsfp, dbsnp, ensembl_gtf, ensembl_rb, epil

[2020-10-29 11:37] jpsmith5 commented on #158
Hey @josruirod, I see you have the `refgene_anno` file now as related to [your past refgenie issue](https://github.com/refgenie/refgenie/issues/218). I'm curious, did you end up manually adding the `refgene_anno` asset, or did you use the build recipe, i.e. `refgenie build AgamP_VB/refgene_anno --files refgene=/path/to/your_refgene_file.txt.gz`. I ask, because the build recipe should automatically

[2020-10-29 12:25] josruirod commented on #158
Super, thanks.
I did recreate the refgene txt file for my organism, and used `refgenie build AgamP_VB/refgene_anno -c $REFGENIE --files refgene=$folder3/our_refgene_file.txt.gz`. Why the TSS file was not created then?

Anyhow, I've been able to produce it with the line you provided, thanks. Where should I place it? Or should I give it to pepatac with --TSS-name?

And I'm curious why the peaks are

[2020-10-29 13:44] jpsmith5 commented on #158
Do you happen to have the output from the build command still available? Could look to see if it threw any errors, because yes it should have been produced.  And yes, you can just pass it with that command. Probably the simplest approach.  Yeah, the peaks should be utilizing the `feat_annotation` asset too, which I see you have.  If you want to share a sample's `PEPATAC_log.md` file here I can loo

[2020-10-30 08:47] josruirod commented on #158
HI, thanks for all the comment. I may have done something wrong imitating the format or there's not enough info on the available annotation, and I can proceed externally to pepatac, but I'd like to confirm.

So, the output of `refgenie seek AgamP_VB/feat_annotation` is an error because it's not finding it:

As you can see in my previous message, I have built AgamP_VB/refgene_anno, not AgamP_VB/fea

[2020-11-02 14:05] jpsmith5 commented on #158
Hey, sorry I misread that.  Yeah, I see from the log it successfully produced a TSS file. What does `/home/ipbln/jlruiz/bin/pepatac/genomes/AgamP_VB/refgene_anno/default/AgamP_VB_TSS.bed` look like if you head that file? And then concurrently, what does `refgenie seek AgamP_VB/refgene_anno.refgene_tss` return?

The ensembl_rb file is the Ensembl regulatory build file, which I believe is limited to

[2020-11-02 15:44] josruirod commented on #158
Thanks for the answer,
when I head the TSS file it seems it's good:

AgamP4_2L       186936  186936  AGAP004677      .       -

And the `refgenie seek` output is:
# /home/ipbln/jlruiz/bin/pepatac/genomes/AgamP_VB/refgene_anno/default/AgamP_VB_TSS.bed

So it seems it's successfully created, but for some reason pepatac is not getting it?

Thanks for the guide for manually building the feat_annotatio

[2020-11-02 15:58] jpsmith5 commented on #158
For the feat_annotation, column 4 could be really any sort of feature of interest. If you have exons and introns or maybe promoters and enhancers that would be the "name" of the feature that should be present in column 4. So you could concatenate a file of known promoters and enhancers that are in the format `chr, start, end, "promoter/enhancer", ".", strand` if that makes sense.

I believe the TS

[2020-11-04 15:31] josruirod commented on #158
Hi, I can confirm that the refgene_tss and the annotation of peaks, the enrichment at TSSs... seem to be working now. This is great.

Thanks for the support

[2020-11-04 19:06] jpsmith5 commented on #158
👍

[2020-11-12 18:37] rcorces opened #159 "pepatac bulker crate issues with /etc/resolv.conf, genrich, and macs2/python problems"
I'm having a few issues getting the pepatac bulker crate to work. honestly, some of this might be better posted to `bulker` instead.

1. I get a persistent warning (looks like every time a singularity container is loaded) when running `pepatac` from within the crate:
`WARNING: Skipping mount /var/singularity/mnt/session/etc/resolv.conf [files]: /etc/resolv.conf doesn't exist in container`
This pro

[2020-11-12 19:59] nsheff commented on #159
1. That warning is something I see all the time too. It has to do with specific containers and I think related to interaction between quay, biocontainers, and singularity. I think it's just a warning and it works despite the warning for most things. I have looked into that quite a bit but I don't remember what I concluded at this point...just that it works anyway and it's a container image issue

[2020-11-12 20:01] nsheff commented on #159
Also just to be clear:

https://github.com/databio/hub.bulker.io/blob/d694c77bfd5bb5a8a4a5060e9b1321ee148705d4/databio/pepatac_1.0.4.yaml#L8

python3 is not containerized in the pepatac manifest. So it's calling your native python. So, just make sure you follow the install instructions to install all the python packages listed in `requirements.txt`, and you'll need a working native install of pyth

[2020-11-12 20:01] jpsmith5 commented on #159
And follow up regarding the warning, I also have always seen this, to no negative consequences. Not sure if there was any conclusion other than that.

[2020-11-12 20:15] rcorces commented on #159
Yes - the mentioned warning has no negative effects other than showing up all the time.

Is there a rationale for why some steps of the pipeline (whichever one requires `pararead`) seem to be using the correct python install while macs2 appears to be searching for python at `/usr/local/bin`?
I actually dont even have a python install at `/usr/local/bin`. I think this might be related to how macs2

[2020-11-12 20:23] rcorces commented on #159
with respect to this:

This could be clarified in the instructions. Currently, the wording "otherwise" made me believe that the python requirements did not apply when running inside the container:

Or you could explicitly mention the python requirements here:
http://pepatac.databio.org/en/latest/run-container/

[2020-11-12 20:35] jpsmith5 commented on #159
Bulker's macs2 is itself a container which is hosted from quay.io. Presumably then, the hosted container contains python itself. Not sure why it would be searching there, short of that being the *within* container path. Will investigate further here.

I'll definitely clarify, *and* add in a note on the run-container page.

[2020-11-12 20:47] nsheff commented on #159
I actually dont even have a python install at /usr/local/bin. I think this might be related to how macs2 is normally installed (via pip). If that is the case, how would macs2 get properly bundled into a container given what you mentioned about python?

To clarify -- `pararead` is not running in a container. `macs2` is running in a container, so it's looking for the python in the container.

This m

[2020-11-12 20:53] nsheff commented on #159
that macs2 container is working fine on our cluster with singularity.
[code]
and interactively like you did:

[code]

[2020-11-12 20:56] rcorces commented on #159
does your setup happen to have python at `/usr/local/bin/python`? If so, the macs2 container would find it just fine. But for anyone who doesnt have python there, it would fail?

[2020-11-12 20:57] nsheff commented on #159
No.

[code]

[2020-11-12 21:00] nsheff commented on #159
what do you see for

[code]

[2020-11-12 21:03] nsheff commented on #159
I think it's an issue with the way singularity is configured on your server.

maybe it's not able to access /dev/random or something?

https://stackoverflow.com/questions/61381288/linux-apache-python-cgi-error-failed-to-get-random-numbers-to-initialize-python

you could try some other python container to make sure it's not just the macs container.

can you do:

[code]

[2020-11-12 21:37] rcorces commented on #159
To answer your questions:
[code]

[code]

For what its worth, I just edited the bulker manifest file to use my local macs2 and deleted the container and reloaded it. The whole pipeline works now.

I'm going to assume that its something specific to my system which is hard to troubleshoot and really not necessary. It could easily be something related to how I've configured python or my python virtua

[2020-11-13 15:27] trn30 opened #160 "Some questions"
I have several doubts regarding the pipeline, so I will explain them in a list.
1. Which is the reason to use in Bowtie2 the BED format and the approximation --shift -75 --extsize 150, instead of BEDPE which is specific to paired end samples?
2. When NFRs, di, tri and poly nucleosomes are extracted, then are these files not used later to perform the following steps? if not, could it be done?

Than

[2020-11-13 15:38] rcorces commented on #159
forgot to mention that `genrich` is included in the `pepatac.yaml` file but not yet present in the bulker crate so pepatac complains. I'm sure this is just because you are in the process of updating things but figured I would mention it.

[2020-11-13 15:50] jpsmith5 commented on #159
Yes, in the process of adding some new options in. Thanks for the heads up. Will make sure the manifest is also updated.

[2020-11-13 16:08] jpsmith5 commented on #160
Hi @trn30,

1. Regarding `bowtie2`, it is piping output through `samtools` and generating `BAM` formatted files. I think you're referencing the input to `MACS2` that is produced after shifting reads?  Because the pipeline has always handled both SE and PE input, this is a carryover both from that support and as the most broadly adopted usage in our and collaborators hands.  But you're right that t

[2020-11-26 03:48] Honchkrow opened #162 "cannot run demo"
Hello,
  I followed the tutorial in "4: Run an example project through PEPATAC" to run the demo, but encountered the following error.
`
(pepatac) [wzhang@localhost pepatac]$ cd /disk/wzhang/software/pepatac
(pepatac) [wzhang@localhost pepatac]$ looper run -d examples/test_project/test_config.yaml
Looper version: 1.3.0
Command: run
Not all environment variables were populated in derived attribute s

[2020-12-02 16:41] jpsmith5 commented on #162
Hey @Honchkrow, sorry I didn't have a chance to respond here. This looks like an environment variable issue, and clearly I didn't document this well enough. The `$CODE` environment variable is used to provide the path to the parent directory containing the `pepatac/` repository.

So, in this case it would likely be set like so based on what I see here: `export CODE=/disk/wzhang/software/`

Give th

[2020-12-03 08:25] #162 closed

[2021-01-18 08:32] pegahtak opened #163 "running example project"
Hello
I have installed all the required softwares and tried to run the example project
[code]
but I get this error message

[code]
is there a way I could I fix this?

I would appreciate your help

[2021-01-18 14:54] stolarczyk commented on #163
looper is looking for the pipeline interface file in `/pepatac/sample_pipeline_interface.yaml` and this file does not exist.

I presume you're using this project config: https://github.com/databio/pepatac/blob/master/examples/test_project/test_config.yaml. It points to the pipeline interface in this line: https://github.com/databio/pepatac/blob/3291788027375c57fbf76ed36ffd9349a8c463bc/examples/tes

[2021-01-18 15:05] stolarczyk opened #164 "set env vars in the "Install and run test example" tutorial"
Consider adding a suggestion to set environment variables used in [this PEP](https://github.com/databio/pepatac/blob/master/examples/test_project/test_config.yaml) on [this page](http://pepatac.databio.org/en/latest/install/).

Currently running the steps in the tutorial leads to issues like this one: #163

[2021-01-24 14:26] taherimo opened #165 "PEPATAC error: ConnectionResetError: [Errno 104] Connection reset by peer"
To install and run PEPATC I followed this guide: https://pepatac.databio.org/en/latest/install/. I think I did every step right. But when I run the following command:

[code]

I receive this error:

[code]

I searched a lot but could not find out what is the solution. May anyone please help me in this issue?

[2021-01-25 21:42] stolarczyk commented on #165
hi @taherimo, unfortunately, I can't reproduce this error. Looking at the traceback you pasted here, there is an issue with reading a _remote_ schema (simple YAML file), which is imported in the [`pepatac_input_schema.yaml`](https://github.com/databio/pepatac/blob/3291788027375c57fbf76ed36ffd9349a8c463bc/pepatac_input_schema.yaml#L2-L3).

Can you check if you can read this remote file with `eido.r

[2021-01-26 08:48] taherimo commented on #165
Thank you @stolarczyk for your reply.
When I run the commands you mentioned I get same error:

[code]

[2021-01-26 12:40] nsheff commented on #165
Is it possible that your computing host is not allowing you to make external connections somehow? Can you do:

[code]

or

[code]
?

@stolarczyk and @jpsmith5 -- Thinking about this further, I'm not sure it makes sense to query away to the web for this. This effectively makes it impossible to use this pipeline on a server that is not connected to the internet, right? Does it make sense to either 1

[2021-01-26 12:42] nsheff commented on #164
Or, maybe the demo/tutorial PEP should not be using environment variables, if we can avoid it...

[2021-01-26 13:50] stolarczyk commented on #165
Having a local, version-controlled schema makes sense to me. Eido is already equipped to deal with local elements in the `imports` list, so that would be a change in this repo.

[2021-01-26 13:57] nsheff commented on #165
Thanks @taherimo -- so you can see there, the issue is that your server is not allowing external http connections. You can ask your sysadmin about that.

In the meantime, a way around it is to download that file, and change this line to point to the local file:

https://github.com/databio/pepatac/blob/3291788027375c57fbf76ed36ffd9349a8c463bc/pepatac_input_schema.yaml#L3

You may be able to get awa

[2021-01-26 14:27] taherimo commented on #165
Thank you @nsheff for your help. I found out that wget works with https rather than http.
Here is the result of `curl http://schema.databio.org/pep/2.0.0.yaml:`

`curl: (56) Recv failure: Connection reset by peer`

And here is the result of `curl https://schema.databio.org/pep/2.0.0.yaml`:

[code]
Is there any way to make PEPATAC to work with https instead of http?

[2021-01-26 14:34] nsheff commented on #165
Sure, just change the URL to `https` in the input schema yaml file. The https link works: `https://schema.databio.org/pep/2.0.0.yaml`

that's line 3 in pepatac/pepatac_input_schema.yaml

[2021-01-26 19:24] taherimo commented on #165
Thank you @nsheff -- I changed http to https in the file pepatac_input_schema.yaml. Now by running looper `run -d examples/test_project/test_config.yaml` I get the following error message:

[code]

[2021-01-26 19:36] stolarczyk commented on #165
great, the schema imprting worked well this time.

[code]

That's because you do not have `$PROCESSED` env var set. This is similar to https://github.com/databio/pepatac/issues/163 and related to #164

[2021-01-26 22:04] nsheff opened #166 "Use https for link"
To avoid problems like #165...

Should we

1. change http to https in the demo interface.
2. embed the pep 2.0 schema here.

?

[2021-01-27 09:14] taherimo commented on #165
Thank you @stolarczyk and @nsheff for your help. It works now.

[2021-01-27 09:22] pegahtak commented on #163
thank you @stolarczyk . I set CODE env variable accordingly. when I run `looper run -d examples/test_project/test_config.yaml`  I get :
[code]
but  when I try to `run looper run examples/test_project/test_config.yaml`

[code]

[2021-01-27 12:16] nsheff commented on #163
go back through the instructions carefully and make sure you've got everything installed:  http://pepatac.databio.org/en/latest/install/

pypiper is installed in the python packages step under 'install required software'.

[2021-01-27 13:06] pegahtak commented on #163
thank you @nsheff . like tutorial ,through pepatac/ directory I run this command :
`pip install --user -r requirements.txt`
to make sure also
`pip install pypiper `

but I still see the same error message

`Looper version: 1.3.0
Command: run

## [1 of 1] sample: test1; pipeline: PEPATAC
Writing script to /home/ptaklifi/pepatac_test/submission/PEPATAC_test1.sub
Job script (n=1; 0.00Gb): /home/ptakl

[2021-01-27 13:38] stolarczyk commented on #163
pypiper is piper on PyPi: https://pypi.org/project/piper/

run:

[code]

[2021-01-27 14:00] pegahtak commented on #163
thank you @stolarczyk  for your response. when I try to open `pipelines/pepatac.py ` with python ( which I think refers to python2) `python  pepatac/pipelines/pepatac.py` I get this errror
[code]
but when I try python3 : `python3 pipelines/pepatac.py` I get the following message :

[code]

[2021-01-27 14:04] stolarczyk commented on #163
The former failed because you didn't install piper for python2.

The latter worked, you just didn't provide the arguments to perform the analysis. You can do so by creating a PEP and running pepatac with looper which is described in the tutorials.

[2021-01-28 04:53] pegahtak commented on #163
thank you @stolarczyk. we set looper to use python3 instead of python2 ;

[code]

[2021-01-28 17:16] pegahtak commented on #163
.

[2021-01-28 17:16] #163 closed

[2021-01-28 17:33] Sethupathy-Lab opened #167 "NCList_find_overlaps_in_groups"
Hi,

I recently installed PEPATAC and I keep getting the same error whether I use the test sample or my own. It is looking for the NCList_find_overlaps_in_groups function, but can't find it. Here is the exact error code:

[code]
I thought this might be part of IRanges, but I don't see it in that library. I've attached my full log as well.

Thanks for any help you have!

[PEPATAC_log.txt](https://g

[2021-01-28 18:35] nsheff commented on #167
This is coming from GenomicRanges... are you using an old version of GenomicRanges and bioconductor? What's your R sessionInfo()?

Like:

[code]

[2021-01-28 18:46] Sethupathy-Lab commented on #167
Thanks for the quick response! Below is my session info:

[code]

[2021-01-28 20:21] jpsmith5 commented on #164
Adjusted to have everything be relative to pepatac/ directory for this test case

[2021-01-28 20:21] #164 closed

[2021-01-28 20:21] #160 closed

[2021-01-28 20:26] nsheff commented on #167
Hmm... the only thing I can think of is a version mismatch among bioconductor packages. Maybe try re-installing/updating S4Vectors, GenomicRanges, and IRanges?

I mean, can you run overlaps with GenomicRanges in general, outside pepatac?

[2021-01-29 13:01] Sethupathy-Lab commented on #167
Thanks for your help, I re-installed everything from scratch and it is working now.

[2021-01-29 15:06] pegahtak opened #168 "help with extended tutorial"
Hi, thank you for the support. I am trying to run the extended tutorial example `looper run examples/tutorial/tutorial.yaml`
but I get an error about BED input :
[code]

[PEPATAC_log1.txt](https://github.com/databio/pepatac/files/5894485/PEPATAC_log1.txt)
[PEPATAC_log2.txt](https://github.com/databio/pepatac/files/5894486/PEPATAC_log2.txt)

I would appreciate it  if you could help me with this

[2021-01-29 15:26] nsheff commented on #168
what version of preseq do you have installed?

[2021-01-29 15:29] pegahtak commented on #168
Version : 3.1.1

[2021-01-29 15:35] nsheff commented on #168
@jpsmith5
Is the command here out of order? It looks like it thinks `-B` is a file input.

Should it be:
[code]

Does that command run for you @pegahtak ?

[2021-01-29 15:39] pegahtak commented on #168
@nsheff  thank you for your response . the command you mentioned those not work properly
here's the error message:
[code]

[2021-01-29 17:36] nsheff commented on #168
@jpsmith5 why is there a `-B` flag here, doesn't that specify BED output, but we're providing BAM output?

[2021-01-29 22:31] nsheff commented on #167
Great, glad it's working. Let us know if you run into more issues.

[2021-01-29 22:31] #167 closed

[2021-02-16 14:25] #165 closed

[2021-02-24 01:37] arpanda opened #170 "Sample with multiple R1 and R2 reads"
How to provide input when a sample has multiple R1 and R2 fastq file?

I have few samples with 2 R1 read and 2 R2 reads. How can I process them using pepatac?

[2021-02-24 02:22] nsheff commented on #170
http://pep.databio.org/en/latest/howto_multiple_inputs/

[2021-02-24 03:22] nsheff commented on #170
there are some examples also, such as: https://github.com/pepkit/example_peps/tree/master/example_subtable4

[2021-02-24 17:02] arpanda commented on #170
Thanks.

[2021-02-24 17:02] #170 closed

[2021-02-24 21:39] jpsmith5 commented on #168
`-B` specifies BAM input.

[code]

Maybe this has changed in new versions of preseq. What version of preseq do you have @pegahtak?

[2021-02-24 21:52] jpsmith5 commented on #168
The `-B` flag indicates BAM input.

[code]

That's true in version 2.0.0 and 3.1.1 as well.

@pegahtak Did you configure preseq with the `--enable-hts` flag? See: http://smithlabresearch.org/software/preseq/

That is necessary to process BAM file as input. Perhaps that's the source of the error?

[2021-03-01 15:47] pegahtak commented on #168
thank you @jpsmith5 for your response. this solution worked . Thank you

[2021-03-01 15:47] #168 closed

[2021-03-20 08:53] pegahtak opened #172 "is it possible to use aligned bam files as input ?"
Hello and thanks for great work. It's not an issue that I'm writing about but a question, so if it's irrelevant please let me know to delete or close this.
I have about 250 aligned and deduplicated bam files that were aligned with bowtie2 and deduplicated using picard MarkDuplicates . I was wondering if I could use these bam files as input for pepatac ?
Thank you

[2021-03-20 15:35] jpsmith5 commented on #172
Hey @pegahtak, you would need to revert them (with Picard) to either an unaligned bam or generate fastq files from those.

For example: `java -jar picard.jar RevertSam I=input.bam O=output_reverted.bam VALIDATION_STRINGENCY=LENIENT`

Or: `bedtools bamtofastq -i input.bam -fq output_r1.fq -fq2 output_r2.fq`

See if that approach would work for you.

[2021-03-21 11:40] pegahtak commented on #172
Thank you @jpsmith5

[2021-03-21 11:40] #172 closed

[2021-03-27 09:43] wangjiawen2013 opened #174 "Generating count table"
Hi,
Is there a way to generate count table without using looper ? I mean, generate count table by running the pipeline script directly for each sample and then produce a count table for all the samples.

[2021-03-29 07:27] wangjiawen2013 opened #175 "assets doesn't exist"
Hi,
I ran pepatac directly following the tutorial: http://pepatac.databio.org/en/latest/run-directly/
But it didn't work, the process stopped and showed that :
 pepatac.py --single-or-paired paired --prealignments human_repeats --genome hg38 --sample-name test1 --input ~/bin/pepatac/examples/data/test1_r1.fastq.gz ~/bin/pepatac/examples/data/test1_r2.fastq.gz --genome-size hs -O ./test1
Removed ex

[2021-03-29 07:28] wangjiawen2013 commented on #175
I didn't get any results, who can helps?

[2021-03-29 12:21] jpsmith5 commented on #174
Hi @wangjiawen2013, did you try [looking over the guide here](http://pepatac.databio.org/en/latest/count_table/)?  You should be able to run the table generation in R, but it does still expect a PEP setup for your project.  Take a look at that and then I'm happy to help troubleshoot downstream.

[2021-03-29 12:24] jpsmith5 commented on #175
So, the asset message is a reflection of some runtime warnings from Refgenie. Those, being warnings, can be safely disregarded here, and we're in the process of releasing some new updates to Refgenie itself that will then allow us to address these superfluous warnings.  It looks like the real error here is that it is seeing the test file as an interleaved fastq file:
[code]
Which is strange and a

[2021-03-30 05:33] wangjiawen2013 commented on #175
I ran it successfully within the pepatac/ directory now, then I ran it successully in my customized directory too! I don't know why. it it possible that it must be ran within pepatac installation directory first, the first run perhaps adapted some configuration ?

[2021-03-30 13:54] jpsmith5 commented on #175
Yeah, all I can imagine is something about it running in multiple subdirectories named `test` was somehow causing a conflict. I noticed it looked like each time you were attempting to run the test it was creating more and more `/test/` directories. But that's just conjecture.  I'll see if I can do something similar on my side and replicate the error, and then hopefully we can stop that happening t

[2021-03-31 03:22] wangjiawen2013 commented on #175
I also can run pepatac using looper now ! Pepatac is a cutting edge atacseq pipeline, there are so many configuration files that I must spend some time being faimliar with it. If I wanna call peaks with HMMRATAC and change some parameters (for example, the p-value threshold of MCS2), how should I modify the config file ?

[2021-03-31 13:39] jpsmith5 commented on #175
## Using HMMRATAC

For changing the peak caller, you can specify `hmmratac` as the peak caller. Here's and example with the test data.  In my example configuration file I've preset some environment variables to make it more portable. So, PROCESSED is an environment variable that is pointing to my parent output folder where I want to store results.  CODE points to the parent directory containing my

[2021-04-01 07:35] wangjiawen2013 commented on #175
Is it better to replace "macs_genome_size" with "genome_size" ? macs_genome_size is a bit confusing, especially when using other peak callers (such as HMMRATAC, not macs2).  It looks like we are still using macs if using macs_genome_size. By the way, do these parameters "genome, macs_genome_size, prealignments, peak_caller" correspond to that of pipelines/pepatac.py ?

[2021-04-02 01:24] wangjiawen2013 commented on #175
I tried it following your instruction, while it looks like pepatac still uses mcas2:
(pepatac) [wangjw@Gilbert2 atacseq]$ cat processed/results_pipeline/tutorial1/PEPATAC_log.md
### Pipeline run code and environment:

*              Command:  `/home/wangjw/bin/pepatac/pipelines/pepatac.py --sample-name tutorial1 --genome hg38 --input /home/wangjw/data/work/atacseq/data/tutorial1_r1.fastq.gz --sing

[2021-04-05 13:33] jpsmith5 commented on #175
Oh yes, sorry that's a good catch, it should be just `genome_size` not `macs_genome_size`.

So, it is using `hmmratac`, see the line: ``peak_caller`:  `hmmratac``

And it's saying, to use hmmratac, you must also specify to use the `--peak-type variable` parameter. And yes I'm sorry I forgot to include that in my example.  It's just saying that if you specify fixed width peaks it's expecting you to

[2021-04-06 00:58] wangjiawen2013 commented on #175
I tried that, an error happened:

Command is not callable: /home/wangjw/bin/HMMRATAC/HMMRATAC_V1.2.10_exe.jar

### Pipeline failed at:  (04-06 08:38:53) elapsed: 0.0 _TIME_

Total time: 0:00:00
Failure reason: Unable to call hmmratac as specified in the pipelines/pepatac.yaml configuration file: /home/wangjw/bin/HMMRATAC/HMMRATAC_V1.2.10_exe.jar
Traceback (most recent call last):
  File "/home/wan

[2021-04-06 01:06] wangjiawen2013 commented on #175
I ran "/home/wangjw/bin/pepatac/pipelines/pepatac.py --sample-name tutorial1 --genome hg38 --input ./data/tutorial1_r1.fastq.gz --single-or-paired paired -O ./processed/results_pipeline -P 4 -M 8000 --input2 ./data/tutorial1_r2.fastq.gz --peak-caller hmmratac --prealignments rCRSd human_repeats --peak-type variable", then the same error appeared. But macs2 still worked well.

[2021-04-08 07:00] wangjiawen2013 commented on #175
And, how to use blacklist when using macs2 or hmmratac?

[2021-04-13 06:28] wangjiawen2013 opened #176 "output narrowPeaks"
Hi,
There are three different Peak files in the output directory, which one should I use (peaks, peaks.narrowPeak, peaks.normalize.narrowPeak)?
Macs2 only output two peak files (peaks, peaks.narrowPeak and they are the same), while an extra peak generated (peaks.normalize.narrowPeak) with pepatac.
And, what's the difference between them ? what't the underlying mechanism of scoring and normalizatio

[2021-04-14 02:34] #176 closed

[2021-04-14 02:34] wangjiawen2013 commented on #176
I already know this.

[2021-04-30 13:57] kwcurrin opened #177 "Are fixed peaks defined relative to peak center or summit?"
Hello,

The awk command in pepatac.py that generates fixed peaks appears to use peak centers. There are both comments refering to peak centers and peak summits. Are the peak centers used? If so, could functionality be added to make fixed peaks from peaks generated from other peak callers besides MACS2? MACS2 should only be needed for fixed peaks if summits are required, not if peak centers are use

[2021-04-30 17:55] jpsmith5 commented on #177
Hey Kevin,

That's a good observation.  We could extend using centers to other peak callers as opposed to peak summits. I will actually adjust the current approach to reutilize summits instead of centers for MACS2 and compare how distinct the two approaches are, and then extend center use to additional peak callers and try to get a feel for how this affects downstream analyses.

Thanks for the tho

[2021-05-03 11:13] kwcurrin commented on #177
Hey Jason,

Awesome, thanks for looking into this!

Kevin

[2021-05-03 12:30] kwcurrin opened #178 "Sample-specific yaml file is not generated for the first sample if the submission folder doesn't exist"
Hello,

This is a minor issue, but when running a dry run with looper, the .yaml file for the first sample is not written if the "submission" folder doesn't already exist. I received the below message:
Could not write sample data to: ./submission/<samplename>.yaml. Directory does not exist

However, the .sub file for that sample is successfully written to the submission folder and all .yaml and .s

[2021-05-03 20:40] kwcurrin opened #179 "fwrite error in PEPATAC.R"
Hello,

When running PEPATAC v0.9.15, I receive the below error when the PEPATAC.R script is run:

***Note that I removed full paths and sample names from the commands for privacy reasons

Target to produce: `/results_pipeline/<sampleID>/peak_calling_hg38/<sampleID>_peaks_normalized.narrowPeak`

<pre>
Error in fwrite(final, output, sep = "\t", col.names = FALSE) :
  is.character(file) && length(fi

[2021-05-03 21:11] nsheff commented on #178
@stolarczyk This could be a looper issue with the new sample yaml writing framework, can you look into it?

[2021-05-03 21:38] stolarczyk commented on #178
@kwcurrin can you upload/paste the PEP you used so I can try to reproduce this issue?

[2021-05-04 13:15] stolarczyk commented on #178
I wasn't able to reproduce this with a simple PEP + pipeline interface. Are you using the latest version of looper?

---

pre run
[code]
post run
[code]
log + configs
[code]

[2021-05-05 18:26] kwcurrin commented on #178
Apologies for the delay. This does appear to be a looper issue. I have looper v1.3.0 installed, but the script that sets up the environment variables for this project on our cluster changes the python and looper versions. So I was unaware that looper was switched to v1.2.0 for this project. I only get this issue when running a dry run with looper v1.2.0. I do not get the issue when running either

[2021-05-05 18:26] #178 closed

[2021-05-07 12:57] kwcurrin commented on #179
This may be due to an issue when an output filename is not specified with "-o", which appears to be an issue for PEPATAC v0.9.15 but not v0.9.0. For v0.9.15, if I run PEPATAC.R manually using the command used by PEPATAC (no output filename specified), I get the following:
Note that absolute file paths are shortened for privacy reasons
command:
Rscript pepatac_0.9.15/tools/PEPATAC.R \
reduce -i tes

[2021-05-12 14:48] kwcurrin commented on #179
Hello,

I wanted to check if anyone else was able to reproduce this issue. It looks it could be an easy fix and would only involve changing the default settings for the output filename in PEPATAC.R.

Thanks,

Kevin

[2021-05-17 18:00] pratimanl opened #180 "HMMRATAC as peak caller - Peaks folder output"
Hello,

We're running PEPATAC using HMMRATAC as peak caller.

Is it expected to see "HMMRATAC failed to identify any peaks." in the log file and an empty .narrowPeak file, because HMMRATAC instead generates the .gappedPeak and summits.bed? Also, attached a screenshot of the peaks folder for one of the samples, are these the expected output?

<img width="567" alt="Screen Shot 2021-05-17 at 10 49 25

[2021-05-17 18:03] jpsmith5 commented on #180
Hi @pratimanl, yes I've recently uncovered some bugs with changes to the pipeline that are now fixed in the development branch.  You can check that out or if you wait a day, I'm close to releasing those updates that should address this for you.

[2021-05-20 17:31] ccrobertson opened #182 "specifying cpu and mem requirements"
When running pepatac with looper, I can’t quite figure out how the number of cpus-per-task and memory requirements are calculated. Is this done within divvy, looper, or pepatac?

I am using the uva_rivanna.yaml config file with the slurm_template.sub as the default template (most recent versions obtained from https://github.com/pepkit/divcfg.git)

If I wanted to reduce the number of cpus requested

[2021-05-20 17:59] nsheff commented on #182
it comes from this tsv file in the pepatac repository:

https://github.com/databio/pepatac/blob/master/resources-sample.tsv

It varies based on input file size. If you just change that file for whatever input file size you need, it should adjust the slurm submission scripts.

[2021-05-20 18:00] jpsmith5 commented on #182
And to add to that. If you're submitting with looper, you can override compute settings like so:

[code]

And so forth...

[2021-05-20 18:00] nsheff commented on #182
if you want to read more about how this works, look at the docs here: http://looper.databio.org/en/latest/pipeline-interface-specification/#size_dependent_variables

[2021-05-21 14:00] ccrobertson commented on #182
Ok great. Thanks for all the pointers! This helps a lot.

[2021-05-24 13:15] kwcurrin opened #183 "fseq2 missing output folder assignment"
Hello,

When fseq2 is used as the peak caller, the resulting narrowPeak and peak summits files are written to the folder where the pipeline is launched, rather than the sample-specific peak folder. This causes the pipeline to fail with the message:
wc: /<pipeline_run_folder>/results_pipeline/<sample>/peak_calling_hg38/<sample>_peaks.narrowPeak: No such file or directory

It looks like the "-o" opt

[2021-05-24 18:13] kwcurrin opened #184 "fseq2 cannot be specified as a peak caller in PEPATAC v0.9.16"
Hello,

After updating to PEPATAC v0.9.16, I am no longer able to specify fseq2 as a peak caller. Now that the original fseq has been added back as a peak calling option, setting "peak_caller: fseq" in the config .yaml file results in the original fseq being used, as expected. However, I received the below error when specifying "peak_caller: fseq2":
(start of error)
Traceback (most recent call las

[2021-06-01 23:39] nsheff opened #185 "No address associated with hostname"
@stolarczyk do you know what might cause this? Does it have to do with trying to import a config when there's no network connection?

Think we can improve the messaging here for eido? I can't figure out what's wrong with my setup that leads to this error

[code]

[2021-06-01 23:40] nsheff commented on #185
I'm not actually sure why anything has to be validated at this stage, but it would probably be better to just give a warning if something remote can't be found rather than to fail catastrophically? the file is actually correct.

[2021-06-02 12:00] stolarczyk commented on #185
Yes, there was no internet connection and that was the reason.

I'm catching an HTTPError in the function loading the remote schema, but a different one is raised here.

[2021-06-02 12:06] nsheff commented on #185
Ok so I think there are 3 things we need to do to solve this:

1. @jpsmith5 can you embed everything necessary so that PEPATAC doesn't require a remote connection to validate? I think we ran into this same problem with PEPPRO or something.
2. @stolarczyk can you make it so that  the error message in this case would be more understandable?
3. @stolarczyk I think looper should only fail catastrophic

[2021-06-03 15:53] nsheff opened #186 "Clarify error messages for missing assets"
[code]

There are a few issues here:

1. The warning about the bowtie2 index is misleading. In fact, this one is not expected to exist, because it's a prefix. So... this needs to be changed, somehow.
2.  The genome is not specified in the note that says "Some assets are not found. You can update your REFGENIE config file or point directly to the file using the noted command-line arguments:" -- so

[2021-06-03 16:12] nsheff opened #187 "Refgenie integration"
PEPATAC originally took paths to assets. In fact, I think it still can take paths to *some* assets direclty. But then we adapted it to accept just a refgenie genome, instead, and then it finds the paths it needs. This is convenient because you just pass `--genome X`, and then it will use refgenie to find the paths of interest. But, one disadvantage is that it relies on regenie. Does PEPATAC allow

[2021-06-03 16:39] nsheff commented on #187
I can confirm this works really well. I just set up a functional demo.

[2021-06-03 21:54] nsheff commented on #187
Here's a working demo. It's really easy actually.

https://github.com/refgenie/refgenie_looper_demo

[2021-06-04 18:36] pratimanl commented on #180
Thank you @jpsmith5. Updating our pepatac version is a pending task, so for now we are continuing with pepatac version 0.9.10, and would like to see if the following issue is really a java memory issue or something we need to troubleshoot within pepatac code:

Snippet of log file of one of the samples which generated fewer than expected output files:

We're currently trying change to java usage -

[2021-06-08 21:28] lmckinno opened #188 "Rerun sample after failed"
Hello, I am trying to run my samples, and they failed partway through the process. I fixed what I think is the error and would like to rerun pepatac where it left off, but I get this message, even though the PEPATAC_failed.flag file is present in the sample directory. Any thoughts?

[2021-06-10 13:37] nsheff opened #189 "checkinstall pipe from web"
I just pushed a few updates to `checkinstall` on the dev branch.

https://github.com/databio/pepatac/commit/5bd07e1086dc541693a0efbde3c93dfba634f288

I would like to be able to do this:

[code]

This way, the person doesn't have to have cloned the repository or whatever, and can just see if the pipeline can go. Right now this works fine, except for 2 issues:

1.  it's using `requirements.txt` for

[2021-06-10 13:40] nsheff opened #190 "Making pepatac installable"
What do you think about making pepatac installable, so you could `pip install pepatac` ?

This wouldn't install all the dependencies, obviously, but it could install the pipeline itself, which would allow users to skip the extra `git clone` step.

I've shied away from making these pipelines installable in the past because I've always seen them as development-oriented, and you'd be changing them, o

[2021-06-10 13:41] nsheff opened #191 "logos are broken"
![image](https://user-images.githubusercontent.com/5271009/121535224-f6be1e00-c9cf-11eb-95e6-5850914b5b7d.png)

[2021-06-10 13:42] nsheff opened #192 "Updating readme"
The PEPATAC readme is not very approachable. Right now, the main documentation page is providing instructions on how to build the documentation. This is not ideal.

For better examples, see:
- http://refgenie.databio.org/en/latest/
- http://looper.databio.org/en/latest/
- http://peppro.databio.org/en/latest/

[2021-06-10 13:45] nsheff opened #193 "Speeding up pepatac for tiny samples"
Right now, there are a few steps in the pipeline that take a long time to run regardless of the size of the sample.

This is problematic because even a minimal test sample takes about 15 minutes to complete. That is one factor that prevents us from doing simple CI/CD tests because they would be prohibitively compute intensive.

I think it would be worth looking a bit deeper into this to see what i

[2021-06-10 14:09] jpsmith5 commented on #190
I follow the simplicity to install logic, but in this case, is there a quantifiable difference when it comes to actually using the pipeline?

Isn't it just:
[code]

versus:
[code]

The only more *challenging* usage is including the path to `pipelines/pepatac.py` as opposed to just calling `pepatac` directly if it's pip installed? And you could potentially add the path to your `PATH` ENV_VAR to acc

[2021-06-10 14:31] nsheff commented on #190
yes I have to think about it still, but:

- `git` requires `git` to be installed; `pip` you'd already need for the other stuff.
- could it be lumped in the `pip install requirements.txt` step, eliminating this step completely?

I think a reason we didn't do this is that the pipeline interface should be external to the pipeline. how would you edit the piface if it's installed? would you need to?  r

[2021-06-10 17:05] jpsmith5 commented on #187
What are your thoughts on how we would handle prealignments?

Currently, it's a space-delimited list of genome names.  Due to that, there is also a fair bit of logic in the pipeline built on the assembly identifiers, in addition to paths to indices.

Would we be asking for two variables: 1) a list of prealignment names *and* 2) a variable that is a space-delimited path of indices? To muddy that a

[2021-06-12 21:31] pegahtak opened #194 "question about setting number of cores"
Hello and thank you for great work!
I am trying to run pipeline for my dataset with the following `config file`
[code]
as you can see I tried  to only use 5 cores, however the pipeline is using 32 cores.
[code]
how can I set the number of cores I want the pipeline to use ?
Thank you
[PEPATAC_N1.log](https://github.com/databio/pepatac/files/6642923/PEPATAC_N1.log)

[2021-06-16 15:58] nsheff commented on #187
good point.I think the names could be inferred from the space-delimited list of paths to indices, right?

But maybe this means it's time to switch to a config-based approach to this, where instead of taking everything on the command-line, you'd take a config file, that would look like:

[code]

Two questions:
- how would you balance what's in the config file vs. on the command line? Would everythi

[2021-06-17 02:23] nsheff commented on #194
I believe the cores has to be set via the compute namespace in looper, rather than as a sample attribute, because it's a looper parameter.

Can you try using `--compute cores=5`, or adding this to your project config:

[code]

[2021-06-17 18:17] pegahtak commented on #194
@nsheff  thank you for your response.  when I added
[code]
to my config file I get the following error:
[code]
but using `looper run ... --compute cores=5` pipeline works correctly with specified number of cores

thank you

[2021-06-17 18:33] nsheff commented on #194
Looks like the correct syntax for the config file is this:

[code]

A better way to do this is to use the `resources-sample.tsv` file to change this and have it adjust based on input file size.

https://github.com/databio/pepatac/blob/master/resources-sample.tsv

In your pepatac folder you should find that. that's where the 32 comes from. You must have a very large file. You can there adjust the c

[2021-06-17 18:59] pegahtak commented on #194
Thank you @nsheff . This works correctly .

[2021-06-17 18:59] #194 closed

[2021-06-17 19:05] lmckinno opened #195 "Issue with "psutil.NoSuchProcess process no longer exists""
Hello, I am having trouble with a "psutil.NoSuchProcess process no longer exists" error in the bamSitesToWig.py script (log attached). Have you come across this issue before? Any ideas for debugging?
[PEPATAC_log.txt](https://github.com/databio/pepatac/files/6672646/PEPATAC_log.txt)

[2021-06-17 19:23] nsheff commented on #195
The actual issue is this:

[code]

I have not run into this before. Your reference genome assembly appears to have >1000 sequences ("chromosomes"), is that correct? I believe that is the cause of this. I think I never tried running pepatac on such a large reference before. We should figure this out but I'm afraid it's not going to be a simple fix from our side

In the meantime, a workaround would

[2021-06-21 18:09] nsheff commented on #186
To fix the warning, just change the `seek` argument to not use a warning.

[2021-06-22 17:36] jpsmith5 commented on #189
Okay. Try the one on dev again. 1) Will use the `requirements.txt` if present, otherwise will go through a provided list that we'll have to keep updated. 2). This section was also expecting to be in the `pepatac/` repo, and was thus using files that should be there. Addressed similarly to 1) to resolve.  That `NoneType` error was coming from that aspect of trying to grab information from a file th

[2021-06-22 18:45] nsheff commented on #189
Ok, it worked for me. When I run the checkinstall script, it is pulling a docker container. Is that intentional? I'm guessing somewhere in the bulker check it's trying to run the commands, and if they aren't there, then it pulls them? Do we want the checkinstall script to pull all of the docker containers?

[2021-06-22 18:53] nsheff opened #196 "Should checkinstall check for refgenie assets?"
Right now, checkinstall doesn't confirm that you have all the refgenie assets you need.

Would that be a useful addition?

[2021-06-22 19:02] jpsmith5 commented on #189
Hmm, yeah I see. Right now, if you run it in the folder, it tries to run the pipeline itself using `bulker run`.  To allow it to be run from the web, I have an alternate check to just see if it can `bulker run bowtie2 --help` for example, just to confirm one of the crate functions is actually runnable.  We can try to avoid that, and do something different to confirm, or yeah, is it better to go ah

[2021-06-22 19:04] jpsmith5 commented on #196
I guess since it's determinate of genomes of interest of the user? But, for the test example, we could have it check, since you *will* need those? Is that your thought?

[2021-06-22 19:08] nsheff commented on #196
Ah, you're right that it depends on the user's choice of genomes.

Just think it might be convenient to help the user easily check if they have all the assets they need, somehow. I guess it would require having them give a list of genomes (main + prealignments), or a PEP...

So I guess this is a bit separate from checkinstall. it's like, checkassets or something.

[2021-06-24 15:20] nsheff commented on #187
@jpsmith5 I think I have a working solution using the new `looper.write_custom_template` plugin, in conjuction with the `refgenconf.looper_refgenie_populate` plugin, which I demonstrated with an example here: https://github.com/refgenie/refgenie_looper_demo

Basically you'd write a custom config file and pass that; the config file can do the lookups required.

Let me know what you think and if you

[2021-06-24 16:25] jpsmith5 commented on #187
Does the config file replace *all* command line arguments then? And therefore the template is covering all the bases? e.g.
[code]

[2021-06-24 18:03] nsheff commented on #187
What about the parameters that are currently in pepatac.yaml ? Do you want to merge those into this somehow? How?

[2021-06-24 18:11] jpsmith5 commented on #187
Yeah there are default parameters for each possible alignment tool and peak calling tool.  There are also parameter settings for motif calling and samtools quality filtering.  Alternatively, would you still pass the pipeline config file through the looper pypiper argument group `-C` argument, and have a separate sample parameters/config file argument for the sample based arguments?

[2021-06-24 18:11] nsheff commented on #189
Just had an idea -- couldn't it just `curl` the list so you don't have to duplicate it?  In other words, if I do `./checkinstall` locally, it finds the local requirements.txt file, no issue. If I do `curl -sSL https://raw.githubusercontent.com/databio/pepatac/dev/checkinstall | bash`, then it realizes it doesn't have it locally... it just curls `https://raw.githubusercontent.com/databio/pepatac/ma

[2021-06-24 18:13] nsheff commented on #187
the pipeline config file could be an option in the sample config file

[2021-06-24 18:28] jpsmith5 commented on #189
Yeah, that's good thought. I had thought about that and I'm not sure what stopped me, maybe thinking of the internet requirement? But your point regarding the person doing the curl approach already having internet connection is valid, duh.  This would also work for the other file checks I utilize for the bulker checks.

[2021-06-24 18:38] jpsmith5 commented on #187
Yeah, that could work. So, in this scenario, the pipeline config file lives in its current location, but it is pointed to in the sample configuration file? And then in that way, you could create separate custom pipeline configuration files if you wanted to change settings for particular samples? That's a positive too.

[2021-06-24 18:50] nsheff commented on #187
your config file above is basically the same as your command template in the pipeline interface:

https://github.com/databio/pepatac/blob/124df2f70f70a26759c0bbf9386835d05a99496f/sample_pipeline_interface.yaml#L6-L35

[2021-06-24 19:02] jpsmith5 commented on #187
I'll test it and see if this works. Previously I wasn't sure if I had the functionality to perform a for loop in the command template, but it sounds like that should be fine?

[2021-06-24 19:06] nsheff commented on #187
the command template is just a jinja template.

[2021-06-28 15:48] badusername21 opened #197 "TSS enrichment taking a long time to process"
Previously, we had not been using the TSS enrichment process while processing our samples, but after introducing this aspect into the processing, it appears as though whenever we run a sample it stops at the TSS enrichment part and does not appear to move on from it even after giving it a couple days for a single sample.

### Pipeline run code and environment:

*              Command:  `/varidata/

[2021-07-26 02:44] wangjiawen2013 opened #200 "Number of regions"
Hi,
what does the y-axis label "number of regions" mean in the plot of Distribution of peaks over the genome. The number looks the same (all are 189 in the following image). Is it the coverage, fold change or something else ? Can I compare it among different samples ? And, only readks within the peaks are displayed or all reads mapped to the genome are displayed on the plot ?
![捕获](https://user-im

[2021-07-26 12:41] jpsmith5 commented on #200
- what does the y-axis label "number of regions" mean in the plot of Distribution of peaks over the genome.

This represents the counts of regions from the query (the peak file) that overlap with each binned chromosome. You can [read more about this function here](http://code.databio.org/GenomicDistributions/reference/calcChromBinsRef.html).

- Can I compare it among different samples ?

Independe

[2021-07-27 02:02] wangjiawen2013 commented on #200
Thanks for you help, it's very valuable !
I tried to plot samples manually using:
query1 = rtracklayer::import("./WT_peaks_normalized.narrowPeak")
x = calcChromBinsRef(query1, "mm10")
plotChromBins(x).
however, the plot is different from that genereated by PEPATAC default pipeline. contigs that cannot be confidently placed on a specific chromosome were also displayed. I checked the narrowPeak file

[2021-07-27 02:54] wangjiawen2013 opened #201 "quantitative ATACseq"
Hi,
Traditional ChIP-seq methodologies are not inherently quantitative and therefore do not allow direct comparisons between
samples derived from different cell types or between cells that have experienced a perturbation, such as a genomic alteration
or chemical treatment. For example, if we employ the traditional reads per million (RPM) ChIP-seq normalization method, a
cell population containing

[2021-07-27 19:53] jpsmith5 commented on #200
With your `x` object returned from `calcChromBinsRef()` you can remove the lowest 10% represented genomes to effectively drop all those unassigned and random chromosomes.

e.g.
[code]

[2021-07-27 20:14] jpsmith5 commented on #201
Hey @wangjiawen2013,

I'm not immediately aware off the top of my head of a field-standard ATAC-seq spike-in normalization method (if you have one in mind that you are aware of please pass it along). So, at the moment, there is no pre-built method in the pipeline to do so, but I think you could adapt standard outputs from the pipeline to achieve such a thing manually.

If you have a spike-in of an

[2021-09-29 12:45] nsheff commented on #34
Hi @rcorces have you ever encountered this issue since? Given that this is almost 4 years old I am wondering if it still needs to be investigated, or if we think it was a one-off strange issue

[2021-09-29 14:26] rcorces commented on #34
I think this can be closed as a one-off. We definitely havent encountered this behavior on the UCSF cluster but we dont have job preemption here.

[2021-09-29 14:26] #34 closed

[2021-10-08 04:28] hiroyukikato911 opened #202 "NFR_frac = round(float(nfr) / float(dar), 4) ZeroDivisionError: float division by zero"
Hi,

Thanks for this wonderful tool!
I updated the PEPATAC version and encountered the following error.

[PEPATAC_log.txt](https://github.com/databio/pepatac/files/7308483/PEPATAC_log.txt)

Could you please let me know what could solve this problem?

I use macOS Big Sur version 11.6.

Thanks in advance.
Best regards,
Hiroyuki

[2021-10-08 04:47] hiroyukikato911 opened #203 "Question about rCRSd and human_repeats"
Hi,

Previous version of PEPATAC pipeline denoted both rCRSd and human_repeats as prealignments.
  `prealignments`:  `['rCRSd', 'human_repeats']`

as we can see from the following example.
http://pepatac.databio.org/en/latest/files/examples/tutorial/results_pipeline/tutorial2/PEPATAC_log.txt

However, the tutorial of the latest version only notes about rCRSd as shown here.
http://pepatac.databio.o

[2021-10-10 07:27] hiroyukikato911 commented on #202
Hi,

It was due to the wrong tutorial file.
It worked fine.

Let me close this issue.

Best,

[2021-10-10 07:27] #202 closed

[2021-10-10 07:38] hiroyukikato911 opened #204 "TSS_hg38 not available in GenomicDistributions package and GenomicDistributionsData package is not installed"
Hi,

I run into this error.

[PEPATAC_log.txt](https://github.com/databio/pepatac/files/7317059/PEPATAC_log.txt)

I'm running using docker.
I have installed GenomicDistributionsData package in my local R.
Is it due to the environment in docker image?

Best,

[2021-10-15 02:00] khorms opened #205 "Problem with parsing of chromosome names that contain | symbol"
I am trying to map the ATACseq sample specifically to the rDNA region. I found a reference for rDNA on Refgenie ([link](http://refgenomes.databio.org/v3/genomes/splash/b769bcf2deaf9d061d94f2007a0e956249905c64653cb5c8)) and I am trying to use this reference when launching PEPATAC pipeline.
The pipeline aligns reads successfully but fails at post-processing. It seems like the problem is that the onl

[2021-10-26 18:40] gbloeb opened #206 "Conda install issues"
Have tried conda install onto multiple systems and conflicts prevented creation of environment:

[code]

[2021-10-26 20:12] gbloeb opened #207 "Difficulty integrating with refgenie or manually downloaded assets"
Trying to run natively with refgenie and hg38 assets installed and getting this error:

[code]

`pepatac.py: error: the following arguments are required: --genome-index, --chrom-sizes`

Confirming that refgenie behaving as expected:
[code]

[2021-11-01 18:04] jpsmith5 commented on #206
Hi @gbloeb, I just pushed an updated conda environment file that in testing on multiple systems is working in my hands. Give that a go and let me know if you hit any issues.

[2021-11-01 18:09] jpsmith5 commented on #204
Hi @hiroyukikato911,

This should be resolved in the recent update to the Dockerfile and to pushes to Docker hub. Give the most recent dockerfile a test. For example, after building, you could try:
[code]

And the output should be:

[code]

[2021-11-11 19:35] boothbyi opened #208 "Looper CLI-specified compute settings ignored while running"
Hi,
Naive question here from a first-time PEP-project user. I'm trying to run the tutorial pipeline locally with compute resources usage specified at the command line:

[code]
However, each command of the pipeline seems to be running with default settings. For instance,

[code]

and later on,

[code]

As a result, the pipeline is running quite slowly even though I have plenty of computing power to

[2021-11-11 20:10] nsheff commented on #208
Try specifying: `` --computer cores=20`. Does that do it? The compute settings are mapped through your divvy adapter, so you can't use the slurm parameters directly (unless you've named them that way)

@jpsmith5 I think there are some errors on this page: http://pepatac.databio.org/en/latest/compute-resources/

it looks like it's uggesting use ``--compute cpus-per-task=36 --ntasks=1`, but that wou

[2021-11-11 22:34] boothbyi commented on #208
Thanks! The following worked for me:

[code]

[2021-11-23 14:43] #206 closed

[2021-11-23 14:47] #177 closed

[2021-11-23 14:47] #174 closed

[2021-11-23 14:48] #159 closed

[2021-11-23 14:49] #158 closed

[2021-11-23 14:49] #148 closed

[2021-11-23 14:51] #179 closed

[2021-11-23 14:51] #11 closed

[2021-11-23 15:02] #183 closed

[2021-11-23 15:03] jpsmith5 commented on #184
Same answer as #183. Will work to support fseq2 in future releases.

[2021-11-23 15:03] #184 closed

[2021-11-23 15:04] #185 closed

[2021-11-23 15:04] #187 closed

[2021-11-23 15:06] jpsmith5 commented on #186
Path functionality and independence from `refgenie` is now inherent.

[2021-11-23 15:06] #186 closed

[2021-11-23 15:11] jpsmith5 commented on #189
Will use either local versions in repo or can be run remotely via `curl`, but does then necessitate internet connection.

[2021-11-23 15:11] #189 closed

[2021-11-23 15:12] #191 closed

[2021-11-23 15:13] #192 closed

[2021-11-23 15:17] jpsmith5 commented on #193
There are, and I believe will be, long-standing issues that prevent this from occurring, even for small samples. Predominantly, wig/bigWig generation is the most time-consuming step even with a small sample. We've investigate `c` driven versions of this process but consistently hit bugs that were inconsistent, with different runs yielding different outcomes with no clear point in the process causi

[2021-11-23 15:17] #193 closed

[2021-11-23 15:17] #195 closed

[2021-11-23 15:18] jpsmith5 commented on #196
Now that `refgenie` is no longer an explicit requirement, this sort of check remains even more dependent on an individual user. Will return to this should be it make sense again in a new light.

[2021-11-23 15:18] #196 closed

[2021-11-23 15:23] jpsmith5 commented on #197
Hey @badusername21,

Have you tested this again with a more recent release? I'm sorry this slipped past me here. Typically that step is quite rapid, seconds as opposed to minutes. If you are still troubleshooting this late in the game give it a go with the most recent release and see if the issue persists. Happy to reopen the issue if the case.

[2021-11-23 15:23] #197 closed

[2021-11-23 15:23] #188 closed

[2021-11-23 15:24] #200 closed

[2021-11-23 15:24] #201 closed

[2021-11-23 15:59] jpsmith5 commented on #203
Hey @hiroyukikato911,

Yeah, I had just simplified the example but I internally always include `human_repeats` and it's a simple thing to keep including it on your end too.

1. To grab the asset with `refgenie`:
[code]

2. An example using the test sample:
[code]
Could save that in the `pepatac/examples/test_project/` folder as, for example, `test_config_refgenie2.yaml`. Then from the parent `pepa

[2021-11-24 02:58] jpsmith5 commented on #205
Hey @khorms, just released an updated version that covers this issue with chromosome header styles.  Basically came down to an issue with temp file creation that should be resolved.

[2021-11-24 02:58] #205 closed

[2021-11-24 02:58] jpsmith5 commented on #180
Hey @pratimanl, I've just released a version that should ease this process. You can specify additional java based parameters in the `pepatac.yaml` configuration file under the `java_settings:` header. Any step that requires a `java` call would append these settings to the `java` call itself.

Similarly, there's also the built in `JAVA_TOOL_OPTIONS` environment variable you could set to modify your

[2021-11-24 02:58] #180 closed

[2021-12-27 12:49] hadgie opened #209 "PEPATACr::createStatsSummary Error"
Hello, I'm completely new to this field and I have some atac-seq data to process.
After cloning your git and installing everything, I've tried to execute the examples/tutorial/tutorial.yaml script with looper, but keep getting the same error which is:

PEPATACr::createStatsSummary(project_samples, results_subdir):
  Stats files missing for 1 samples.

It might be a basic mistake, but your answers

[2021-12-27 15:02] jpsmith5 commented on #209
Hey @hadgie, Can you share the specific command you ran? Was it `looper runp examples/test_project/test_config.yaml` or `looper report examples/test_project/test_config.yaml`? Had you already successfully run the `looper run` command on the config file? You can also share the `PEPATAC_log.md` file with me and I can look at that too. To drag and drop that in github here you'll have to change the ex

[2021-12-27 15:31] hadgie commented on #209
Thanks for your reply @jpsmith5, the command I ran was `looper runp examples/test_project/test_config.yaml`.
I just tried `looper run` and following error was shown:

[code]

In which directory can I find the `PEPATAC_log.md` ?

[2021-12-27 15:39] hadgie commented on #209
[PEPATAC_collator_log.md](https://github.com/databio/pepatac/files/7780821/PEPATAC_collator_log.md)

I could not find `PEPATAC_log.md` , but this might be what you were looking for! I'm not sure though..

[2021-12-27 17:30] jpsmith5 commented on #209
Hey @hadgie, Gotcha. Yeah, you'll need to perform the `run` step before the `runp` command. That's why it didn't see the `stats.tsv` file for the sample.  The test configuration file also expects you to run it from *within* the `pepatac/` folder. So try changing directory to your `/Users/heesuk/Desktop/atac/pepatac/` folder and do the `looper run examples/test_project/test_config.yaml` command. On

[2021-12-28 03:35] hadgie commented on #209
Wow thanks to your help, I managed to run the script partly! Unfortunately now I have a different error with the following message:

[code]

is this an issue with my hardware? Is there a way I can fix this issue? I am working on an i9 macbook pro with 16g memory.

[2021-12-28 12:30] jpsmith5 commented on #209
Hmm, 16g should be more than enough, certainly for the test sample. The test sample in my hands maxed out at 6.5g of memory use, and that peak use comes from `MACS2`. Can you see at what point in the process this popped up? Was it during peak calling? It does suggest an insufficiency in memory availability but I'm not immediately clear where or why. You can certainly pass along your `PEPATAC_log.m

[2021-12-28 12:37] hadgie commented on #209
[PEPATAC_log.md](https://github.com/databio/pepatac/files/7784640/PEPATAC_log.md)

Thanks, I finally found the log file haha
I'm not sure but maybe the memory error is occurred during the alignment process?

[2021-12-28 13:18] jpsmith5 commented on #209
Can you also share this file: `/Users/heesuk/Desktop/atac/pepatac/pepatac_test/results_pipeline/test1/prealignments/test1_rCRSd_bt_aln_summary.log`

I'm wondering if there's an error in `bowtie2`. Any messages from `bowtie2` should end up in that file, and it can sometimes identify issues there.

[2022-01-13 18:40] ndrdenny opened #210 "Problems with checkinstall for conda installation and pipeline failure"
Hello,

I'm trying to run Pepatac following conda installation (conda version 4.11). The conda environment installs correctly if I change divvy==0.5.0 to divvy=0.6.0 (with 0.5.0 I get the following error message 'error in divvy setup command: use_2to3 is invalid' which I can't resolve by downgrading setuptools).

After creating the conda env, I've run ./checkinstall but for some reason it does not

[2022-01-13 23:15] ndrdenny commented on #210
Just to follow up. I've modified my test_config.yaml file (attached) with the paths to indices from 'refgenie seek'.

For some reason it throws an error if I include 'pre-alignment'. I've attached the log file.

If I hash out the pre-alignment step, initial alignment and alignment metrics seems to have worked. However, there seems to be a problem later on when using pre-seq to calculate library co

[2022-01-21 02:53] e-arslan opened #212 "Singularity Issue"
Hi,

I am trying to use the singularity version on the HPC platform, yet got the "FATAL:   permission denied" error. Checking pepatac.py is not an option as pypiper module is missing and the HPC platform does not allow to install new modules manually.

I run the following code:

     singularity build pepatac docker://databio/pepatac:latest
     singularity instance start -B /rsrch3/home/genomic_m

[2022-01-26 19:14] ndrdenny commented on #210
Another follow up. I've managed to run the pipeline using conda on our high performance cluster (linux environment)...and it produces really nice data! Thanks for putting it together.

As I mentioned above, when I used the requirements-conda.yaml file it threw an error in divvy setup that I could resolve by downgrading. I deleted divvy from the yaml file (or alternatively change to divvy=0.6.0) an

[2022-02-02 15:18] gbloeb opened #213 "PEPATACr no longer available"
When I try to install PEPATACr I get following error:

[code]

[2022-02-02 15:34] jpsmith5 commented on #213
Hey @gbloeb, can you confirm you're in the pipeline repository parent folder when executing that command? It's expecting the `file.path("PEPATACr/")` to be in the `pepatac/` folder.

[2022-02-02 16:00] gbloeb commented on #213
You're right, I wasn't doing this from the pepatac directory and was clearly there in the install instructions.  Sorry for troubling you about this.  And thank you for fixing the conda install back in November!

[2022-02-02 16:00] #213 closed

[2022-02-04 19:13] gbloeb opened #214 "Specifying genome size in config.yaml"
I have tried passing the genome size to pepatac through parameter in the config.yaml  file unsuccessfully.

[code]

and

[code]

In my submission scripts still get:
--genome-size "2.7e9"

[2022-02-04 19:22] nsheff commented on #214
It should be `genome_size` -- not `genome-size` or `macs_genome_size`.

[2022-02-04 19:44] gbloeb commented on #214
Thanks @nsheff,  I should have realized that it's all in the sample_pipeline_interface.yaml

I got macs_genome_size from the example at http://pepatac.databio.org/en/latest/reference_peaks/.

[2022-02-04 19:44] #214 closed

[2022-02-04 19:49] nsheff commented on #214
@jpsmith5 I think that's an error in the example

[2022-02-06 01:22] gbloeb opened #215 "Documenting way to run pipeline to generate reads in reference peak set"
Documentation here is quite helpful:
[](http://pepatac.databio.org/en/latest/count_table/)

In the section on:
**Count table with a PEPATAC produced consensus peak set**

you recommend rerunning samples with the frip_ref_peaks set based on consensus peak set generated by the pipeline.

Might be useful to be explicit that the PEPATAC_completed.flag needs to be removed for each sample to facilitate

[2022-02-13 12:05] namzoo99 opened #216 "TypeError"
Hi,
I wanted to make consensus peaks, so I followed test tutorial(http://pepatac.databio.org/en/latest/consensus_peaks/).
I ran ```looper run``` before running ```looper runp```. But, I faced below error. This is the first time running the pipeline, so it's hard to solve the error.

[code]

[2022-02-15 20:17] imk1 opened #217 "Is there a way to run IDR with pepatac?"
I am interested in using pepatac, and I was wondering if there is a way to identify peaks with a low irreproducible discovery rate (IDR, https://projecteuclid.org/journals/annals-of-applied-statistics/volume-5/issue-3/Measuring-reproducibility-of-high-throughput-experiments/10.1214/11-AOAS466.full) using pepatac.  I find this to be a better approach to finding reproducible peaks across replicates

[2022-03-02 23:03] ndrdenny commented on #210
Another update...I've managed to get the pipeline to work with our cluster. I just needed to edit the slurm template file, which I should have realised.

For some reason the .checkinstall still does not recognise my conda env even though the pipeline works perfectly. I've occasionally had some trouble getting certain samples to work with the pre-alignment step (but this has only been for one set o

[2022-03-05 17:46] kathleenabadie opened #218 "Unable to generate counts table for consensus peaks (pipeline ignores _ref_peaks_coverage.bed files)"
Hello,
Thank you for the great package, I've enjoyed using it. Here is my issue:
I have successfully run the sample level pipeline to generate peak coverage files for each sample and then re-ran it with the reference peak bed file set as the consensus peak output. This generated _ref_peaks_coverage.bed files within the peak_calling folder for each sample in the results pipeline. However, now when

[2022-03-25 04:48] gbloeb opened #219 "Unable to generate count table with reference peaks"
Ran a project with reference peaks, but I am unable to generate a count table for the reference peaks:
When the project is run:
1) peaks are still called for each sample individually
2) Each sample/peak_calling_mm10 directory contains both:
GLIS3_Ctrl_1_S2_ref_peaks_coverage.bed corresponding to the reference peaks and
GLIS3_Ctrl_1_S2_peaks_coverage.bed.gz corresponding to the called peaks

When I

[2022-03-30 21:13] jordance71 commented on #216
I'm running into this same issue - I installed in a conda environment, which I think was successful, but I get an identical error when I try to run test_config.yaml following the installation instructions.

[2022-07-01 08:37] 2lore commented on #216
I get an identical error when I am trying to run tutorial_refgenie.yaml with looper.

[2022-07-01 11:36] nsheff commented on #216
@jpsmith5 do you have any insight here? At first glance, could this be related to a missing asset? We may need to improve an error message

Are you sure you have available the refgenie assets for the genome you're trying to work with?

[2022-07-01 13:12] 2lore commented on #216
I think so, I'm working with hg38 and pulled the refgenie the assets as in the extended tutorial. If I use 'refgenie seek' for certain files, it works.
But I don't know which specific asset would be needed for the pre-submit function?

[2022-07-05 19:31] jpsmith5 commented on #216
Hey,

I'm looking at this now. I *think* I have seen this. Let me do some tests and see what it is and yeah see if I can determine if it is a bad messaging issue. Will update shortly.

[2022-07-05 20:09] jpsmith5 commented on #216
The default settings run successfully for me, but I think this could be a missing rCRSd FASTA asset issue. This is something I've caught elsewhere after some updates to various required packages that I am thinking hasn't been updated in the docs (which I'm doing so now).  I'm going to test on my side if **not** having that asset gives me the same error, and if so update from there.  But what you @

[2022-07-05 20:43] jpsmith5 commented on #216
I can confirm I can recapitulate the `NoneType` error when I do **not** have the rCRSd FASTA asset. So once you grab that you should be good to go. Making sure the docs are updated to reflect that.

[2022-07-06 12:56] jpsmith5 commented on #216
Yes, I lean both. It is specifically a `refgenconf` message, so yes, just having that specify what it was trying to achieve but failing to populate would go a long way, and I can add the asset check through the pipeline.  Right now I report the assets utilized but that's after it's already been essentially approved, since the command line arguments received an appropriate value.  To check the asse

[2022-07-06 14:24] 2lore commented on #216
@jpsmith5 I can confirm that adding the rCRSd/fasta solved the error for me as well.
Thanks a lot for helping me out here!

[2022-07-13 22:08] vulpescu opened #220 "Is there any way to specify the alignment output should be in cram format?"
This feature could free up terabytes of storage on large projects, but it looks like pepatac is hard-coded to use bam format. Are there any plans to add an "output to cram" flag?

[2022-08-01 23:45] ybukhman opened #221 "Test run fails with this error: skewer (0.2.2): Can not read adapter sequences from FASTA file "tools/NexteraPE-PE.fa""
[PEPATAC_log.txt](https://github.com/databio/pepatac/files/9237971/PEPATAC_log.txt)

[2022-08-02 17:13] ybukhman commented on #221
tools/NexteraPE-PE.fa is present and I can access it when I am not in a pepatac crate. Once I activate the crate, some commands still work on this file while others do not. For example, I can list it but I can't cat it:

[code]

[2022-08-04 22:39] ybukhman commented on #221
Sorry, this was a problem with our file server.

[2022-08-04 22:39] #221 closed

[2022-09-15 02:46] prm123342 opened #222 "Cannot run pepatac through docker, conda, or singularity"
I have been trying for about two weeks to run this pipeline to no avail.

I finally got the pipeline actually running something with the test data but it seems to stop at the same point each time. I've tried removing the pre alignment step as others have done in the past but this doesn't work either.

Any suggestions from anyone would be amazing.

Thanks in advance.

[PEPATAC_log.txt](https://gith

[2022-09-21 12:45] lmckinno opened #223 "Error on single end data"
Hello! I am attempting to run PEPATAC on single-end data (I previously ran successfully on paired-end data) but I am now getting this error that I don't know how to address. Can you help? Thank you!
[PEPATAC_log.md](https://github.com/databio/pepatac/files/9616628/PEPATAC_log.md)

[2022-10-01 01:55] AnthonyPhosphate opened #224 "Installation conflict with fseq"
After installing conda environment pepatac with the yml file, checkinstallation suggests fseq is not installed. Meanwhile installing fseq with conda suggests the python version (3.9.*spicified by the yml file) is not compatible.

[2022-10-14 07:40] kloot opened #225 "Where are Supplemental Files 1..4 ?"
All hyperlinks to these files on the NARGB page point to 'lqab101_supplemental_file.pdf', but the xlsx and csv files aren't included.

Many thanks in advance!

[2022-10-19 19:10] nsheff opened #226 "checkinstall bugs"
@jpsmith5 what are you trying to do here?

https://github.com/databio/pepatac/blob/5c654c46bcacf94eb70794247aa7d4d36f33adff/checkinstall#L114-L117

and here:

https://github.com/databio/pepatac/blob/5c654c46bcacf94eb70794247aa7d4d36f33adff/checkinstall#L420-L422

In one version, your env var is a string file path, but in the other version (using `curl`), your env var is the *contents* of the file.

[2022-10-19 19:14] nsheff opened #227 "docker image is missing R packages"
databio/rpipe:0.2.6 is missing PEPATACr

something is wrong with the image pushed to dockerhub.

I rebuilt it as 0.3.0, and it works, but the manifest and stuff need to updated.

[2022-10-19 19:24] nsheff commented on #226
Ok I think I figured it out -- this is just a bug, where it's expecting it in the first case to be path to the file, but curl is returning the contents of the file, causing it to fail.

[2022-10-20 07:07] kloot commented on #224
Same issue here:
UnsatisfiableError: The following specifications were found
to be incompatible with the existing python installation in your environment:

Specifications:

  - fseq -> python[version='2.7.*|3.5.*|3.6.*']

Your python: python==3.9.7=hb7a2778_3_cpython

If python is on the left-most side of the chain, that's the version you've asked for.
When python appears to the right, that indica

[2022-10-20 11:57] nsheff opened #228 "argparser is not in requirements"
the project pipeline requires R package argparser, but this is not installed or checked.

[2022-10-20 12:01] nsheff opened #229 "R.utils not in requirements"
Following #228 ...

[code]

[2022-10-21 07:14] kloot commented on #224
Possible workaround: remove fseq from requirements file. Will pass checkInstall and run pipeline

[2022-10-21 07:54] kloot opened #230 "hg38 not exported object from namespace:GenomicDistributionsData"
Happens consistently with all tutorial and test files.
Distribution plot files are created but have no content
Example here for tutorial1

The seems to be my final issue ... (hopefully) ... many thanks for taking a look!

Target to produce: `/home/APPS/pepatac_tutorial/processed/results_pipeline/tutorial1/QC_hg38/tutorial1_peak_chromosome_distribution.pdf`

<pre>
ERROR: Error: 'chromSizes_hg38' is

[2022-10-21 07:55] kloot commented on #229
encountered by me too.

[2022-10-21 07:55] kloot commented on #228
Encountered by me too

[2022-10-26 19:36] rylanci opened #231 "Issue submitting samples with alternate genomes"
Hi there. I've been successfully running pepatac with preconfigured human and mouse genomes/indexes for a few weeks and recently had the need to process some atac-seq originating from chicken and cow.

Upon submitting these chicken and cow samples with "looper run" I encountered an error I would appreciate assistance interpreting. The issue seems to be the genome parameter in the project.yaml file

[2022-10-26 20:08] nsheff commented on #231
Hey @rylanci -- are you sure you have the necessary refgenie reference data available? I mean, you have the bowtie indexes, etc, pulled/built with refgenie for the pipeline to use?

[2022-10-26 20:19] rylanci commented on #231
Hello. I'm not using refgenie for these samples. We have resources for these genomes (indexes and chromsizes) on hand so I have been using that option.

Essentially I have been following your "Tutorial using manually downloaded and curated genome assets"

[2022-10-28 18:22] rylanci commented on #231
One thing I did notice is the working genomes also have refgenie resources compiled,
where as the two new genomes experiencing issues do not have refgenie resources.

Do you think it's possible when attempting to use our own genome info pepatac is still referencing refgenie, not identifying the organisms in the genome_config.yaml, and throwing the error?

[2022-11-01 14:35] jpsmith5 commented on #225
Hi @kloot, these are all available on the web through the following links. Let me know if there's any issue retrieving them.

- [Supplemental_file_1.csv](http://big.databio.org/pepatac/Supplemental_file_1.csv)
- [Supplemental_file_2.xlsx](http://big.databio.org/pepatac/Supplemental_file_2.xlsx)
- [Supplemental_file_3.xlsx](http://big.databio.org/pepatac/Supplemental_file_3.xlsx)
- [Supplemental_fi

[2022-11-01 14:35] #225 closed

[2022-11-02 10:22] marta-nazzari opened #232 "Error at "TSS distance distribution" step"
Hi,
I have an issue when running the pipeline at the step "TSS distance distribution" step.
Namely, the `test_sample_peaks_partition_dist.pdf` file is not created, possibly because the wrong path for saving is indicated. The pipeline continues executing without crashing.

This is the code snippet in question as it appears in the terminal:

[code]

[2022-11-07 09:30] Kange2014 commented on #219
does anyone has an update on this issue? encounter the same problem. Thanks.

[2022-11-07 22:47] cristanchoa opened #233 "columns in ref_peaks_coverage.bed"
Hi,

Thanks for the package! I am having trouble running the pipeline again with the reference peaks - potentially due to the glitch in not having Rutils mentioned in #229 affecting the looper runp function

However, I do see that in the individual samples there is now a "ref_peaks_coverage.bed" file. I don't see a separate "ref.narrowpeaks" file. What are the columns in this file? When I pull it